<div class="wrapper">
  <div class="bg-light">
    <div class="grid-container clearfix">
      <div class="grid-65 tablet-grid-45 mobile-grid-100">
      </div>
      <div class="grid-35 tablet-grid-55 mobile-grid-100">
        <div class="panel panel-info">
          <div class="panel-body bg-clear">
            <form method="post" ng-submit="activate(user)" name="form" novalidate>
              <input class="form-control input-large margin-vertical-large" type="text" name="phone" ng-model="user.phone" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="15" ng-required="true" placeholder="No Hp" autocomplete="off">
              <div class="margin-top-small margin-bottom-large text-error" ng-if="!form.phone.$valid && form.phone.$dirty">
                <small ng-show="form.phone.$error.phone || form.phone.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus berupa angka</small>
                <small ng-show="form.phone.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh kurang dari 5 karakter</small>
                <small ng-show="form.phone.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh lebih dari 15 karakter</small>
                <small ng-show="form.phone.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus diisi</small>
              </div>
              <input class="form-control input-large margin-vertical-large" type="text" name="code" ng-model="user.code" ng-required="true" placeholder="Kode Aktivasi" autocomplete="off">
              <button type="submit" ng-disabled="form.$pristine || form.$invalid" class="button button-large button-block button-primary-c">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
