<div class="wrapper">
  <div  class="jumbotron" style="padding: 70px;
  background: #ffffff url('{{ IMAGE_RS.PATH }}{{ hospital.banner }}') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <div class="grid-container clearfix">
      <div class="grid-65 tablet-grid-45 mobile-grid-100">
        <div class="alert alert-success sr-only">
          <strong>Success!</strong> Indicates a successful or positive action.
        </div>
      </div>
      <div class="grid-35 tablet-grid-55 mobile-grid-100">
        <div class="panel panel-info">
          <div class="panel-body bg-clear">
            <form method="post" ng-submit="login(user)" name="form" novalidate>
              <input class="form-control input-large margin-vertical-large" type="text" name="email" ng-model="user.email" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="15" ng-required="true" placeholder="No Hp" autocomplete="off">
              <div class="margin-top-small margin-bottom-large text-error" ng-if="!form.email.$valid && form.email.$dirty">
                <small ng-show="form.email.$error.email || form.email.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus berupa angka</small>
                <small ng-show="form.email.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh kurang dari 5 karakter</small>
                <small ng-show="form.email.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh lebih dari 15 karakter</small>
                <small ng-show="form.email.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus diisi</small>
              </div>
              <input class="form-control input-large margin-vertical-large" type="password" name="password" ng-model="user.password" placeholder="Password" autocomplete="off" required>
              <div class="help-block text-right"><a href="#/forget-password">Lupa Password</a></div>
              <button type="submit" ng-disabled="form.$pristine || form.$invalid" class="button button-large button-block button-primary-c">Login</button>
              <div class="help-block text-right margin-top-large">Belum punya akun? <a href="#/register">Daftar</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
