<div class="wrapper">
  <div class="bg-light">
    <div class="grid-container clearfix">
      <div class="grid-65 tablet-grid-45 mobile-grid-100">
      </div>
      <div class="grid-35 tablet-grid-55 mobile-grid-100">
        <div class="panel panel-info">
          <div class="panel-body bg-clear">
            <form method="post" ng-submit="submit(user)" name="form" novalidate>
              <input class="form-control input-large margin-vertical-large" type="text" name="phone" ng-model="user.phone" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="15" ng-required="true" placeholder="No Hp" autocomplete="off">
              <div class="margin-top-small margin-bottom-large text-error" ng-if="!form.phone.$valid && form.phone.$dirty">
                <small ng-show="form.phone.$error.phone || form.phone.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus berupa angka</small>
                <small ng-show="form.phone.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh kurang dari 5 karakter</small>
                <small ng-show="form.phone.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh lebih dari 15 karakter</small>
                <small ng-show="form.phone.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus diisi</small>
              </div>
              <input class="form-control input-large margin-vertical-large" type="text" name="code" ng-model="user.code" ng-required="true" placeholder="Kode Reset Password" autocomplete="off">

              <input class="form-control input-large margin-vertical-large" type="password" name="password" ng-model="user.password" ng-minlength="6" ng-maxlength="45" ng-required="true" placeholder="Password Baru" autocomplete="off">
              <div class="margin-top-small margin-bottom-large text-error" ng-if="!form.password.$valid && form.password.$dirty">
                <small ng-show="form.password.$error.minlength"><i class="icon icon-ios-close-outline"></i> Password tidak boleh kurang dari 6 karakter</small>
                <small ng-show="form.password.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Password tidak boleh lebih dari 45 karakter</small>
                <small ng-show="form.password.$error.required"><i class="icon icon-ios-close-outline"></i> Password harus diisi</small>
              </div>
              <input class="form-control input-large margin-vertical-large" type="password" name="passwordd" ng-model="user.passwordd" ng-minlength="6" ng-maxlength="45" ng-required="true" placeholder="Konfirmasi Password Baru" autocomplete="off">
              <div class="margin-top-small margin-bottom-large text-error" ng-if="!form.passwordd.$valid && form.passwordd.$dirty">
                <small ng-show="form.passwordd.$error.minlength"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password tidak boleh kurang dari 6 karakter</small>
                <small ng-show="form.passwordd.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password tidak boleh lebih dari 45 karakter</small>
                <small ng-show="form.passwordd.$error.required"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password harus diisi</small>
              </div>
              <div class="margin-top-small margin-bottom-large text-error" ng-if="user.password !== user.passwordd">
                <small ng-show="form.password.$valid && form.passwordd.$valid"><i class="icon icon-ios-close-outline"></i> Konfirmasi password tidak sesuai dengan password</small>
              </div>
              <button type="submit" ng-disabled="form.$invalid" class="button button-large button-block button-primary-c">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
