<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Tambah Sinkronisasi Domain
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
		<div class="grid-70 mobile-grid-100 push-10 padding-medium">
			<form class="form-horizontal" name="form" method="post" role="form" ng-submit="submit(syn)" novalidate>
				<div class="form-group" ng-class="{'validation-error' : form.domain.$touched && form.domain.$dirty && form.domain.$invalid}">
					<label class="grid-20 control-label">Nama Domain</label>
					<div class="grid-80">
						<input class="form-control" type="text" name="domain" placeholder="www.lussa.net" ng-model="syn.domain" ng-minlength="8" ng-maxlength="60" ng-required="true" autocomplete="off" autofocus>
            <div class="margin-top-small text-error" ng-if="form.domain.$touched && form.domain.$dirty">
              <small ng-show="form.domain.$error.required"><i class="icon icon-ios-close-outline"></i> Nama Domain harus diisi</small>
              <small ng-show="form.domain.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama Domain tidak boleh kurang dari 3 karakter</small>
              <small ng-show="form.domain.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama Domain tidak boleh lebih dari 60 karakter</small>
            </div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="prefix-20 grid-80">
						<button class="button button-primary button-labeled" type="submit" ng-disabled="form.$pristine || form.$invalid">
              <span class="button-label"><i class="icon icon-checkmark"></i></span>
              Simpan
            </button>
						<button class="button button-default button-labeled" type="reset" ng-click="reset()" ng-disabled="form.$pristine">
              <span class="button-label"><i class="icon icon-refresh"></i></span>
              Reset
            </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</article>
