<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Email
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="grid-25">
      <div class="panel panel-info">
        <div class="panel-body padding-bottom-xs">
          <form method="post" name="form" ng-submit="save(email)" novalidate>
            <div class="form-group" ng-class="{'validation-error' : form.emailName.$touched && form.emailName.$dirty && form.emailName.$invalid}">
              <label for="emailName">Nama Pengirim Email</label>
              <input class="form-control" type="text" name="emailName" ng-model="email.emailName" ng-minlength="2" ng-maxlength="45" ng-pattern="/^[A-Za-z\ ]+$/" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.emailName.$touched && form.emailName.$dirty">
                <small ng-show="form.emailName.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nama tidak valid</small>
                <small ng-show="form.emailName.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 2 karakter</small>
                <small ng-show="form.emailName.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
                <small ng-show="form.emailName.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
              </div>
            </div>
            <div class="form-group" ng-class="{'validation-error' : form.emailUserDomain.$touched && form.emailUserDomain.$dirty && form.emailUserDomain.$invalid}">
              <label for="emailUserDomain">User Domain Email</label>
              <input class="form-control" type="email" name="emailUserDomain" ng-model="email.emailUserDomain" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.emailUserDomain.$touched && form.emailUserDomain.$dirty">
                <small ng-show="form.emailUserDomain.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
                <small ng-show="form.emailUserDomain.$error.email || form.emailUserDomain.$error.pattern"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
              </div>
            </div>
            <div class="form-group">
              <button class="button button-primary button-block" type="submit" ng-disabled="form.$pristine || !form.$valid">Simpan</button>
						</div>
          </form>
        </div>
      </div>
    </div>
    <div class="grid-75">
			<div class="panel panel-info">
				<div class="panel-body padding-bottom-xs">
					<form method="post" name="eform" ng-submit="send(mail)" novalidate>
            <div class="form-group" ng-class="{'validation-error' : eform.to.$touched && eform.to.$dirty && eform.to.$invalid}">
              <label class="sr-only" for="to">Email Penerima</label>
              <input class="form-control" type="email" name="to" placeholder="Email Penerima" ng-model="mail.to" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="eform.to.$touched && eform.to.$dirty">
                <small ng-show="eform.to.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
                <small ng-show="eform.to.$error.email"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="subject">Subyek Email</label>
              <input class="form-control" name="subject" placeholder="Subyek Email" ng-model="mail.subject" autocomplete="off">
            </div>
						<div class="form-group" ng-class="{'validation-error' : eform.content.$touched && eform.content.$dirty && eform.content.$invalid}">
							<label class="sr-only" for="content">Isi Email</label>
							<textarea class="form-control" name="content" rows="6" placeholder="Isi Email" ng-model="mail.content" ng-required="true">{{ mail.content }}</textarea>
              <div class="margin-top-small text-error" ng-if="eform.content.$touched && eform.content.$dirty">
                <small ng-show="eform.content.$error.required"><i class="icon icon-ios-close-outline"></i> Isi email harus diisi</small>
              </div>
						</div>
						<div class="form-group text-right">
							<button class="button button-success button-labeled" type="submit" ng-disabled="eform.$pristine || !eform.$valid">
								<span class="button-label"><i class="icon-android-send"></i></span>
								Kirim
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
  </div>
</article>
