<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Konfigurasi RS
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="grid-75">
      <div class="panel panel-info">
        <div class="panel-body padding-bottom-xs">
          <form method="post" name="eform" ng-submit="save(setting)" novalidate>
            <div class="form-group" ng-class="{'validation-error' : eform.name.$touched && eform.name.$dirty && eform.name.$invalid}">
          <label for="name">Nama RS</label>
            <input class="form-control" type="text" name="name" placeholder="Nama RS" ng-model="setting.name" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off">
            <div class="margin-top-small text-error" ng-if="eform.name.$touched && eform.name.$dirty">
              <small ng-show="eform.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
              <small ng-show="eform.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
              <small ng-show="eform.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
            </div>
          </div>
            <div class="form-group" ng-class="{ 'validation-error' : eform.email.$touched && eform.email.$dirty && eform.email.$invalid }">
                <label for="email">Email RS</label>
                  <input class="form-control" type="email" name="email" ng-model="setting.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-maxlength="45" ng-required="true" autocomplete="off">
                  <div class="margin-top-small text-error" ng-if="!eform.email.$valid && eform.email.$dirty">
                    <small ng-show="eform.email.$error.email || eform.email.$error.pattern"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
                    <small ng-show="eform.email.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Email tidak boleh lebih dari 45 karakter</small>
                    <small ng-show="eform.email.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
                  </div>
              </div>
            <div class="form-group" ng-class="{ 'validation-error' : eform.phone.$touched && eform.phone.$dirty && eform.phone.$invalid }">
                <label name="phone">Nomor Telepon RS</label>
                  <input class="form-control" type="text" name="phone" ng-model="setting.phone" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="15" ng-required="true" autocomplete="off">
                  <div class="margin-top-small text-error" ng-if="!eform.phone.$valid && eform.phone.$dirty">
                    <small ng-show="eform.phone.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus berupa angka</small>
                    <small ng-show="eform.phone.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh kurang dari 5 karakter</small>
                    <small ng-show="eform.phone.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh lebih dari 15 karakter</small>
                    <small ng-show="eform.phone.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus diisi</small>
                  </div>
              </div>
            <div class="form-group" ng-class="{'validation-error' : eform.address.$touched && eform.address.$dirty && eform.address.$invalid}">
              <label for="address">Alamat RS</label>
              <textarea class="form-control" name="address" rows="3" placeholder="Alamat RS" ng-model="setting.address" ng-required="true"></textarea>
              <div class="margin-top-small text-error" ng-if="!eform.address.$valid && eform.address.$dirty">
                <small ng-show="eform.address.$error.required"><i class="icon icon-ios-close-outline"></i> Alamat harus di isi</small>
              </div>
            </div>
            <div class="form-group" ng-class="{'validation-error' : eform.content.$touched && eform.content.$dirty && eform.content.$invalid}">
              <label for="description">Deskripsi RS</label>
              <textarea class="form-control" name="description" rows="6" placeholder="Deskripsi RS" ng-model="setting.description" ng-required="true"></textarea>
              <div class="margin-top-small text-error" ng-if="!eform.content.$valid && eform.content.$dirty">
                <small ng-show="eform.content.$error.required"><i class="icon icon-ios-close-outline"></i> Isi deskripsi harus diisi</small>
              </div>
              <label class="help-block">Keterangan : </label>
            <i>* Untuk deskripsi RS menjelaskan gambaran Website ini, descripsi ini akan tampil di "Search Engine" untuk memudahkan orang menemukan Website ini</i>
            </div>
            <div class="form-group" ng-class="{'validation-error' : nofile_favicon || format_favicon || size_favicon}">
          <label for="picture">Foto favicon RS</label>
            <input class="form-control" type="file" name="favicon" ng-model="setting.favicon" ui-file-model="setting.favicon" onchange="angular.element(this).scope().favicon(this)">
            <div class="margin-top-small">
              <small class="text-error" ng-show="nofile_favicon"><i class="icon icon-ios-close-outline"></i> Foto tidak tersedia</small>
              <small class="text-error" ng-show="format_favicon"><i class="icon icon-ios-close-outline"></i> Foto harus berformat [png | jpg | jpeg]</small>
              <small class="text-error" ng-show="size_favicon"><i class="icon icon-ios-close-outline"></i> Foto tidak boleh berukuran lebih dari 80 Kb</small>
              <img ng-src="{{ fav_rs }}" width="100.25" ng-hide="nofile_favicon || format_favicon || size_favicon">
            </div>
            <label class="help-block">Keterangan : </label>
            <i>* Dimensions : 64px X 64px</i><br/>
            <i>* Size : 80Kb</i><br/>
            <i>* Foto favicon digunakan untuk indentitas website, yang ditampilkan pada title tab pada browser</i>
            
        </div>
        <div class="form-group" ng-class="{'validation-error' : nofile_logo || format_logo || size_logo}">
          <label for="picture">Foto Logo RS</label>
            <input class="form-control" type="file" name="logo" ng-model="setting.logo" ui-file-model="setting.logo" onchange="angular.element(this).scope().logo(this)">
            <div class="margin-top-small">
              <small class="text-error" ng-show="nofile_logo"><i class="icon icon-ios-close-outline"></i> Foto tidak tersedia</small>
              <small class="text-error" ng-show="format_logo"><i class="icon icon-ios-close-outline"></i> Foto harus berformat [png | jpg | jpeg]</small>
              <small class="text-error" ng-show="size_logo"><i class="icon icon-ios-close-outline"></i> Foto tidak boleh berukuran lebih dari 80 Kb</small>
              <img ng-src="{{ logo_rs }}" width="100.25" ng-hide="nofile_logo || format_logo || size_logo">
            </div>
            <label class="help-block">Keterangan : </label>
            <i>* Dimensions : 200px X 100px</i><br/>
            <i>* Size : 80Kb</i><br/>
            <i>* Foto Logo digunakan untuk indentitas website, yang ditampilkan pada navbar halaman beranda website ini</i>
        </div>
        <div class="form-group" ng-class="{'validation-error' : nofile_banner || format_banner || size_banner}">
          <label for="picture">Foto Bannder RS</label>
            <input class="form-control" type="file" name="banner" ng-model="setting.banner" ui-file-model="setting.banner" onchange="angular.element(this).scope().banner(this)">
            <div class="margin-top-small">
              <small class="text-error" ng-show="nofile_banner"><i class="icon icon-ios-close-outline"></i> Foto tidak tersedia</small>
              <small class="text-error" ng-show="format_banner"><i class="icon icon-ios-close-outline"></i> Foto harus berformat [png | jpg | jpeg]</small>
              <small class="text-error" ng-show="size_banner"><i class="icon icon-ios-close-outline"></i> Foto tidak boleh berukuran lebih dari 600 Kb</small>
              <img ng-src="{{ banner_rs }}" width="300.25" height="150" ng-hide="nofile_banner || format_banner || size_banner">
            </div>
            <label class="help-block">Keterangan : </label>
            <i>* Dimensions : 1000px X 500px</i><br/>
            <i>* Size : 600 Kb</i><br/>
            <i>* Foto Banner digunakan untuk indentitas website, Banner ini digunakan untuk background pada halaman beranda website.</i>
        </div>
            <div class="form-group text-right">
              <button class="button button-primary button-labeled" type="submit" ng-disabled="!eform.$valid || nofile_favicon || format_favicon || size_favicon || nofile_logo || format_logo || size_logo || nofile_banner || format_banner || size_banner">
                <span class="button-label"><i class="icon-android-send"></i></span>
                Simpan
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</article>