<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      SMS
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="grid-25">
      <div class="panel panel-info">
        <div class="panel-body padding-bottom-small">
          <form method="post" name="form" ng-submit="save(sms)" novalidate>
            <div class="form-group" ng-class="{'validation-error' : form.smsUrl.$touched && form.smsUrl.$dirty && form.smsUrl.$invalid}">
              <label for="url">API Url</label>
              <textarea class="form-control" type="url" name="smsUrl" ng-model="sms.smsUrl" ng-required="true">{{ sms.url }}</textarea>
              <div class="margin-top-small text-error" ng-if="form.smsUrl.$touched && form.smsUrl.$dirty">
                <small ng-show="form.smsUrl.$error.url"><i class="icon icon-ios-close-outline"></i> API Url tidak valid</small>
                <small ng-show="form.smsUrl.$error.required"><i class="icon icon-ios-close-outline"></i> API Url harus diisi</small>
              </div>
            </div>
            <div class="form-group" ng-class="{'validation-error' : form.smsUsername.$touched && form.smsUsername.$dirty && form.smsUsername.$invalid}">
              <label for="username">Username</label>
              <input class="form-control" type="text" name="smsUsername" ng-model="sms.smsUsername" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.smsUsername.$touched && form.smsUsername.$dirty">
                <small ng-show="form.smsUsername.$error.required"><i class="icon icon-ios-close-outline"></i> Username harus diisi</small>
              </div>
            </div>
            <div class="form-group" ng-class="{'validation-error' : form.smsPassword.$touched && form.smsPassword.$dirty && form.smsPassword.$invalid}">
              <label for="password">Password</label>
              <input class="form-control" type="text" name="smsPassword" ng-model="sms.smsPassword" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.smsPassword.$touched && form.smsPassword.$dirty">
                <small ng-show="form.smsPassword.$error.required"><i class="icon icon-ios-close-outline"></i> Password harus diisi</small>
              </div>
            </div>
            <div class="form-group">
              <button class="button button-primary button-block" type="submit" ng-disabled="form.$pristine || !form.$valid">Simpan</button>
						</div>
          </form>
        </div>
      </div>
    </div>
    <div class="grid-75">
			<div class="panel panel-info">
				<div class="panel-body padding-bottom-xs">
					<form method="post" name="eform" ng-submit="send(msg)" novalidate>
            <div class="form-group" ng-class="{'validation-error' : eform.to.$touched && eform.to.$dirty && eform.to.$invalid}">
              <label class="sr-only" for="to">Isi Penerima</label>
              <input class="form-control" name="to" placeholder="Nomor Hp" ng-model="msg.to" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="14" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="eform.to.$dirty && !eform.to.$valid">
                <small ng-show="eform.to.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus diisi</small>
                <small ng-show="eform.to.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus berupa angka</small>
                <small ng-show="eform.to.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh kurang dari 5 karakter</small>
                <small ng-show="eform.to.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh lebih dari 14 karakter</small>
              </div>
            </div>
						<div class="form-group" ng-class="{'validation-error' : eform.content.$touched && eform.content.$dirty && eform.content.$invalid}">
							<label class="sr-only" for="content">Isi Pesan</label>
							<textarea class="form-control" name="content" rows="9" placeholder="Isi Pesan" ng-model="msg.content" ng-required="true" ng-maxlength="160">{{ msg.content }}</textarea>
              <div class="margin-top-small text-error" ng-if="!eform.content.$valid && eform.content.$dirty">
                <small ng-show="eform.content.$error.required"><i class="icon icon-ios-close-outline"></i> Isi pesan harus diisi</small>
                <small ng-show="eform.content.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Isi pesan tidak boleh lebih dari 160 karakter</small>
              </div>
						</div>
						<div class="form-group text-right">
							<button class="button button-success button-labeled" type="submit" ng-disabled="eform.$pristine || eform.$invalid">
								<span class="button-label"><i class="icon-android-send"></i></span>
								Kirim
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</article>
