<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Sinkronisasi Domain
      <span class="pull-right">
        <a class="button button-default button-labeled" ng-href="#/synchronize/create">
          <span class="button-label bg-primary"><i class="icon icon-plus text-light"></i></span>
          Tambah
        </a>
      </span>
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
      <table class="table table-striped" ui-table="param">
        <tr ng-repeat="syn in $data" ng-form="form">
          <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
          <td data-title="'Domain'" class="text-center">
            {{ syn.domain }} 
          </td>
          <td data-title="'Api Key'" class="text-center">
              {{ syn.key }}
          </td>
          <td data-title="'Aksi'" class="text-center text-nowrap">
            <a class="button button-default button-labeled button-xs" ng-click="delete(syn)">
              <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
              hapus
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center" ng-show="!param.data.length">
      <h3 class="margin-vertical-xl text-soft">Data Sinkronisasi Domain tidak ditemukan.</h3>
    </div>
  </div>
</article>
