<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="adminApp" class="no-js" ng-strict-di> <!--<![endif]-->
  <head>
    <link rel="shortcut icon" type="image/png" ng-href="{{ IMAGE_RS.PATH }}{{ hospital.favicon }}">
    <title>{{ title }} | Admin</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/nurse.css">
    <link rel="stylesheet" href="/styles/patient.css">
    <link rel="stylesheet" href="/styles/wfmi-style.css">
    <!--STYLES END-->
  </head>

  <body id="admin">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- navbar navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="sidebar-toggle sidebar-toggle-desktop pull-left" title="Toggle Sidebar" ng-click="isOffcanvas = !isOffcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed pull-right" ng-click="isMenuCollapsed = !isMenuCollapsed">
          <i class="icon-android-more-vertical"></i>
        </button>
      </div>
      <!-- navbar for mobile and tablet -->
      <div class="hide-on-desktop">
        <div class="collapse navbar-collapse" data-collapse="!isMenuCollapsed">
          <ul class="nav navbar-nav" ui-active-link>
            <li><a ng-href="#/sms"><i class="icon icon-chatbox icon-fixed-width"></i> Pesan</a></li>
            <li><a ng-href="#/email"><i class="icon icon-email icon-fixed-width"></i> Email</a></li>
            <li><a ng-href="#/profile"><i class="icon icon-person icon-fixed-width"></i> Profil</a></li>
            <li><a ng-href="#/logout" class="logout"><i class="icon icon-power icon-fixed-width"></i> Keluar</a></li>
          </ul>
        </div>
      </div>
      <!-- end of navbar for mobile and tablet -->
      <!-- navbar for desktop -->
      <div class="grid-fluid hide-on-mobile hide-on-tablet">
        <div class="navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" data-toggle-by-hover=true>
              <a ng-href="">
                <span class="margin-small">{{ USER.name }}</span>
                <i class="icon-ios-arrow-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu" ui-active-link>
                <li><a ng-href="#/sms"><i class="icon icon-chatbox icon-fixed-width"></i> Pesan</a></li>
                <li><a ng-href="#/email"><i class="icon icon-email icon-fixed-width"></i> Email</a></li>
                <li><a ng-href="#/profile"><i class="icon icon-person icon-fixed-width"></i> Profil</a></li>
                <li><a ng-href="#/logout" class="logout"><i class="icon icon-power icon-fixed-width"></i> Keluar</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- end of navbar for desktop -->
    </nav>
    <!-- end of navbar navigation -->

    <!-- sidebar navigation -->
    <nav class="sidebar sidebar-default sidebar-fixed-left offcanvas-tablet" role="navigation" offcanvas="isOffcanvas" data-canvas="body">
      <a class="sidebar-brand" ng-href="#/"><span class="icon icon-first-aid" aria-hidden="true"></span> {{ hospital.name }}</a>
      <ul class="nav sidebar-nav" ui-active-link>
        <li><a ng-href="#/clinic"><i class="icon icon-i-accessibility icon-fixed-width"></i> Klinik</a></li>
        <li><a ng-href="#/doctor"><i class="icon icon-i-accessibility icon-fixed-width"></i> Dokter</a></li>
        <li><a ng-href="#/nurse"><i class="icon icon-i-accessibility icon-fixed-width"></i> Perawat</a></li>
        <li><a ng-href="#/shift"><i class="icon icon-i-accessibility icon-fixed-width"></i> Shift</a></li>
        <li><a ng-href="#/patient"><i class="icon icon-i-accessibility icon-fixed-width"></i> Pasien</a></li>
        <li><a ng-href="#/booking"><i class="icon icon-i-accessibility icon-fixed-width"></i> Pemesanan</a></li>
        <li><a ng-href="#/notif"><i class="icon icon-i-accessibility icon-fixed-width"></i> Pemberitahuan</a></li>
        <li><a ng-href="#/analysis"><i class="icon icon-i-accessibility icon-fixed-width"></i> Analisis</a></li>
        <li><a ng-href="#/help"><i class="icon icon-i-accessibility icon-fixed-width"></i> Bantuan</a></li>
        <li><a ng-href="#/setting"><i class="icon icon-i-accessibility icon-fixed-width"></i> Konfigurasi RS</a></li>
        <li><a ng-href="#/synchronize"><i class="icon icon-i-accessibility icon-fixed-width"></i> Sinkronisasi RS</a></li>
      </ul>
      <div class="sidebar-footer">
        <div class="button-group button-group-justified">
          <a ng-href="#/logout" type="button" class="button button-primary button-large logout" tooltip-placement="top" tooltip="Keluar" tooltip-append-to-body="true">
            <i class="icon icon-power"></i>
          </a>
          <a ng-href="#/profile" type="button" class="button button-primary button-large" tooltip-placement="top" tooltip="Profil" tooltip-append-to-body="true">
            <i class="icon icon-person"></i>
          </a>
          <a ng-href="#/email" type="button" class="button button-primary button-large" tooltip-placement="top" tooltip="Email" tooltip-append-to-body="true">
            <i class="icon icon-email"></i>
          </a>
          <a ng-href="#/sms" type="button" class="button button-primary button-large" tooltip-placement="top" tooltip="Pesan" tooltip-append-to-body="true">
            <i class="icon icon-chatbox"></i>
          </a>
        </div>
      </div>
      <div class="clearfix margin-vertical-xl padding-vertical-xl"></div>
    </nav>
    <!-- end of sidebar navigation -->

    <!-- main content -->
    <section class="grid-fluid" ng-view></section>
    <!-- end of main content -->

    <!-- modal -->
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">{{ modal.title }}</h3>
      </div>
      <div class="modal-body" ng-bind-html="modal.body"></div>
      <div class="modal-footer">
        <button class="button button-primary" ng-click="ok()">Ya</button>
        <button class="button button-default" ng-click="cancel()">Batal</button>
      </div>
    </script>
    <!-- end of modal -->

    <!-- toast directive -->
    <toast></toast>
    <!-- end of toast directive -->

    <!-- loading -->
    <span class="loading"></span>
    <!-- end of loading -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/qrcode.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.compatibility.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.min.js"></script>
    <script src="/vendor/jquery-hoverIntent/jquery.hoverIntent.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="/vendor/angular-resource/angular-resource.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="/vendor/angular-touch/angular-touch.js"></script>
    <script src="/vendor/lussa-ui/lussa-ui.min.js"></script>
    <script src="/vendor/satellizer/satellizer.js"></script>
    <script src="/vendor/underscore.string/underscore.string.js"></script>
    <script src="/vendor/underscore/underscore.js"></script>
    <script src="/app/admin/app.js"></script>
    <script src="/app/nurse/app.js"></script>
    <script src="/app/patient/app.js"></script>
    <script src="/app/admin/auth/loginCtrl.js"></script>
    <script src="/app/admin/auth/profileCtrl.js"></script>
    <script src="/app/admin/booking/browseCtrl.js"></script>
    <script src="/app/admin/clinic/browseCtrl.js"></script>
    <script src="/app/admin/clinic/createCtrl.js"></script>
    <script src="/app/admin/clinic/viewCtrl.js"></script>
    <script src="/app/admin/config/createCtrl.js"></script>
    <script src="/app/admin/config/emailCtrl.js"></script>
    <script src="/app/admin/config/settingCtrl.js"></script>
    <script src="/app/admin/config/smsCtrl.js"></script>
    <script src="/app/admin/config/synchronizeCtrl.js"></script>
    <script src="/app/admin/doctor/analysisCtrl.js"></script>
    <script src="/app/admin/doctor/browseCtrl.js"></script>
    <script src="/app/admin/doctor/createCtrl.js"></script>
    <script src="/app/admin/doctor/shiftCtrl.js"></script>
    <script src="/app/admin/doctor/viewCtrl.js"></script>
    <script src="/app/admin/help/AnswerCtrl.js"></script>
    <script src="/app/admin/help/HelpCtrl.js"></script>
    <script src="/app/admin/notification/browseCtrl.js"></script>
    <script src="/app/admin/notification/patientCtrl.js"></script>
    <script src="/app/admin/nurse/browseCtrl.js"></script>
    <script src="/app/admin/nurse/createCtrl.js"></script>
    <script src="/app/admin/nurse/shiftCtrl.js"></script>
    <script src="/app/admin/patient/browseCtrl.js"></script>
    <script src="/app/admin/patient/viewCtrl.js"></script>
    <script src="/app/admin/shift/browseCtrl.js"></script>
    <script src="/app/admin/shift/viewCtrl.js"></script>
    <script src="/app/nurse/auth/loginCtrl.js"></script>
    <script src="/app/nurse/auth/profileCtrl.js"></script>
    <script src="/app/nurse/home/createCtrl.js"></script>
    <script src="/app/nurse/home/doctorCtrl.js"></script>
    <script src="/app/nurse/home/notificationCtrl.js"></script>
    <script src="/app/nurse/queue/patientCtrl.js"></script>
    <script src="/app/nurse/queue/recordCtrl.js"></script>
    <script src="/app/patient/auth/activationCtrl.js"></script>
    <script src="/app/patient/auth/forgetCtrl.js"></script>
    <script src="/app/patient/auth/loginCtrl.js"></script>
    <script src="/app/patient/auth/registerCtrl.js"></script>
    <script src="/app/patient/auth/resetCtrl.js"></script>
    <script src="/app/patient/booking/browseCtrl.js"></script>
    <script src="/app/patient/booking/confirmationCtrl.js"></script>
    <script src="/app/patient/booking/viewCtrl.js"></script>
    <script src="/app/patient/clinic/scheduleCtrl.js"></script>
    <script src="/app/patient/clinic/searchCtrl.js"></script>
    <script src="/app/patient/doctor/scheduleCtrl.js"></script>
    <script src="/app/patient/doctor/searchCtrl.js"></script>
    <script src="/app/patient/help/contentCtrl.js"></script>
    <script src="/app/patient/help/helpCtrl.js"></script>
    <script src="/app/patient/home/homeCtrl.js"></script>
    <script src="/app/patient/home/profileCtrl.js"></script>
    <script src="/app/patient/notification/browseCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
