<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="nurseApp" class="no-js" ng-strict-di> <!--<![endif]-->
  <head>
    <link rel="shortcut icon" type="image/png" ng-href="{{ IMAGE_RS.PATH }}{{ hospital.favicon }}">
    <title>{{ title }} | Perawat</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/nurse.css">
    <link rel="stylesheet" href="/styles/patient.css">
    <link rel="stylesheet" href="/styles/wfmi-style.css">
    <!--STYLES END-->
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default">
      <div class="grid-container">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isMenuCollapsed = !isMenuCollapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
              <span class="icon icon-first-aid" aria-hidden="true"></span>
               {{ hospital.name }}
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" data-collapse="!isMenuCollapsed">
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-href="#/">Antrian</a></li>
              <li><a ng-href="#/notification">Notifikasi</a></li>
              <li class="dropdown" data-toggle-by-hover=true>
                <a ng-href="">
                  <span class="margin-right-small">{{ USER.name }}</span>
                  <i class="icon-ios-arrow-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-href="#/profile">Profil</a></li>
                  <li><a ng-href="#/logout" class="logout">Keluar</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </div>
    </nav>


    <div class="grid-container">
      <div class="container-fluid">
        <div ng-view=""></div>
      </div>
    </div>

    <!-- toast directive -->
    <toast></toast>
    <!-- end toast directive -->

    <!-- loading -->
    <span class="loading"></span>
    <!-- end of loading -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/qrcode.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.compatibility.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.min.js"></script>
    <script src="/vendor/jquery-hoverIntent/jquery.hoverIntent.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="/vendor/angular-resource/angular-resource.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="/vendor/angular-touch/angular-touch.js"></script>
    <script src="/vendor/lussa-ui/lussa-ui.min.js"></script>
    <script src="/vendor/satellizer/satellizer.js"></script>
    <script src="/vendor/underscore.string/underscore.string.js"></script>
    <script src="/vendor/underscore/underscore.js"></script>
    <script src="/app/admin/app.js"></script>
    <script src="/app/nurse/app.js"></script>
    <script src="/app/patient/app.js"></script>
    <script src="/app/admin/auth/loginCtrl.js"></script>
    <script src="/app/admin/auth/profileCtrl.js"></script>
    <script src="/app/admin/booking/browseCtrl.js"></script>
    <script src="/app/admin/clinic/browseCtrl.js"></script>
    <script src="/app/admin/clinic/createCtrl.js"></script>
    <script src="/app/admin/clinic/viewCtrl.js"></script>
    <script src="/app/admin/config/createCtrl.js"></script>
    <script src="/app/admin/config/emailCtrl.js"></script>
    <script src="/app/admin/config/settingCtrl.js"></script>
    <script src="/app/admin/config/smsCtrl.js"></script>
    <script src="/app/admin/config/synchronizeCtrl.js"></script>
    <script src="/app/admin/doctor/analysisCtrl.js"></script>
    <script src="/app/admin/doctor/browseCtrl.js"></script>
    <script src="/app/admin/doctor/createCtrl.js"></script>
    <script src="/app/admin/doctor/shiftCtrl.js"></script>
    <script src="/app/admin/doctor/viewCtrl.js"></script>
    <script src="/app/admin/help/AnswerCtrl.js"></script>
    <script src="/app/admin/help/HelpCtrl.js"></script>
    <script src="/app/admin/notification/browseCtrl.js"></script>
    <script src="/app/admin/notification/patientCtrl.js"></script>
    <script src="/app/admin/nurse/browseCtrl.js"></script>
    <script src="/app/admin/nurse/createCtrl.js"></script>
    <script src="/app/admin/nurse/shiftCtrl.js"></script>
    <script src="/app/admin/patient/browseCtrl.js"></script>
    <script src="/app/admin/patient/viewCtrl.js"></script>
    <script src="/app/admin/shift/browseCtrl.js"></script>
    <script src="/app/admin/shift/viewCtrl.js"></script>
    <script src="/app/nurse/auth/loginCtrl.js"></script>
    <script src="/app/nurse/auth/profileCtrl.js"></script>
    <script src="/app/nurse/home/createCtrl.js"></script>
    <script src="/app/nurse/home/doctorCtrl.js"></script>
    <script src="/app/nurse/home/notificationCtrl.js"></script>
    <script src="/app/nurse/queue/patientCtrl.js"></script>
    <script src="/app/nurse/queue/recordCtrl.js"></script>
    <script src="/app/patient/auth/activationCtrl.js"></script>
    <script src="/app/patient/auth/forgetCtrl.js"></script>
    <script src="/app/patient/auth/loginCtrl.js"></script>
    <script src="/app/patient/auth/registerCtrl.js"></script>
    <script src="/app/patient/auth/resetCtrl.js"></script>
    <script src="/app/patient/booking/browseCtrl.js"></script>
    <script src="/app/patient/booking/confirmationCtrl.js"></script>
    <script src="/app/patient/booking/viewCtrl.js"></script>
    <script src="/app/patient/clinic/scheduleCtrl.js"></script>
    <script src="/app/patient/clinic/searchCtrl.js"></script>
    <script src="/app/patient/doctor/scheduleCtrl.js"></script>
    <script src="/app/patient/doctor/searchCtrl.js"></script>
    <script src="/app/patient/help/contentCtrl.js"></script>
    <script src="/app/patient/help/helpCtrl.js"></script>
    <script src="/app/patient/home/homeCtrl.js"></script>
    <script src="/app/patient/home/profileCtrl.js"></script>
    <script src="/app/patient/notification/browseCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
