<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="patientApp" class="no-js" ng-strict-di> <!--<![endif]-->
  <head>
    <link rel="shortcut icon" type="image/png" href="/images/RS/<%= favicon %>">
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="RS, Rumah , Sakit, Booking, Jadwal, Pesan">
    <meta name="author" content="lussa teknologi www.lussa.net">
    <meta name="description" content="<%= desc %>">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/nurse.css">
    <link rel="stylesheet" href="/styles/patient.css">
    <link rel="stylesheet" href="/styles/wfmi-style.css">
    <!--STYLES END-->
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default">
      <div class="grid-container">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isMenuCollapsed = !isMenuCollapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#/">
                  <img type="image/png" src="/images/RS/<%= logo %>" width="100px" height="50px" alt="">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" data-collapse="!isMenuCollapsed">
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-href="/#/search/clinic/all"><strong>KLINIK</strong></a></li>
              <li><a ng-href="/#/search/doctor/all"><strong>DOKTER</strong></a></li>
              <li><a ng-href="/#/help"><strong>BANTUAN</strong></a></li>
              <li ng-show="USER" class="dropdown" data-toggle-by-hover=true>
                <a href=""><strong>{{ USER.name | uppercase }}</strong> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-href="#/profile">Sunting Profil</a></li>
                  <li><a ng-href="#/booking">Sejarah Pemesanan</a></li>
                  <li><a ng-href="#/notification">Notifikasi</a></li>
                  <li><a ng-href="#/logout" class="logout">Keluar</a></li>
                </ul>
              </li>
              <li ng-hide="USER"><a ng-href="#/login"><strong>DAFTAR / MASUK</strong></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </div>
    </nav>

    <div ng-view=""></div>


    <footer class="accent-dark text-info">
      <div class="grid-container">
        <div class="grid-100 text-center margin-vert-10">
          <img type="image/png" src="/images/RS/<%= logo %>" width="100px" height="50px" alt="">
          <h3><%= title %></h3>
          <p>
            <i class="icon icon-location"></i> <%= address %>
            <br/><span class="icon-android-call"></span>  <%= phone %>
            <br/><span class="icon icon-email"></span>  <%= email %>
          </p>
          <a ng-href="/#/search/clinic/all" class="color text-info">KLINIK</a> |
          <a ng-href="/#/search/doctor/all" class="color text-info">DOKTER</a> |
          <a ng-href="/#/help" class="color text-info">BANTUAN</a> |
          <a ng-href="/#/login" class="color text-info">DAFTAR / MASUK</a>
        </div>
      </div>
    </footer>

    <!-- modal -->
    <script type="text/ng-template" id="myModalConfirmation.html">
      <div class="modal-header">
        <h3 class="modal-title">{{ modal.title }}</h3>
      </div>
      <div class="modal-body" ng-bind-html="modal.body"></div>
      <div class="modal-footer">
        <button class="button button-primary" ng-click="ok()">Ya</button>
        <button class="button button-default" ng-click="cancel()">Batal</button>
      </div>
    </script>
    <!-- end of modal -->

    <!-- toast directive -->
    <toast></toast>
    <!-- end toast directive -->

    <!-- loading -->
    <span class="loading"></span>
    <!-- end of loading -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/qrcode.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.compatibility.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.js"></script>
    <script src="/vendor/jquery-easing-original/jquery.easing.min.js"></script>
    <script src="/vendor/jquery-hoverIntent/jquery.hoverIntent.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="/vendor/angular-resource/angular-resource.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="/vendor/angular-touch/angular-touch.js"></script>
    <script src="/vendor/lussa-ui/lussa-ui.min.js"></script>
    <script src="/vendor/satellizer/satellizer.js"></script>
    <script src="/vendor/underscore.string/underscore.string.js"></script>
    <script src="/vendor/underscore/underscore.js"></script>
    <script src="/app/admin/app.js"></script>
    <script src="/app/nurse/app.js"></script>
    <script src="/app/patient/app.js"></script>
    <script src="/app/admin/auth/loginCtrl.js"></script>
    <script src="/app/admin/auth/profileCtrl.js"></script>
    <script src="/app/admin/booking/browseCtrl.js"></script>
    <script src="/app/admin/clinic/browseCtrl.js"></script>
    <script src="/app/admin/clinic/createCtrl.js"></script>
    <script src="/app/admin/clinic/viewCtrl.js"></script>
    <script src="/app/admin/config/createCtrl.js"></script>
    <script src="/app/admin/config/emailCtrl.js"></script>
    <script src="/app/admin/config/settingCtrl.js"></script>
    <script src="/app/admin/config/smsCtrl.js"></script>
    <script src="/app/admin/config/synchronizeCtrl.js"></script>
    <script src="/app/admin/doctor/analysisCtrl.js"></script>
    <script src="/app/admin/doctor/browseCtrl.js"></script>
    <script src="/app/admin/doctor/createCtrl.js"></script>
    <script src="/app/admin/doctor/shiftCtrl.js"></script>
    <script src="/app/admin/doctor/viewCtrl.js"></script>
    <script src="/app/admin/help/AnswerCtrl.js"></script>
    <script src="/app/admin/help/HelpCtrl.js"></script>
    <script src="/app/admin/notification/browseCtrl.js"></script>
    <script src="/app/admin/notification/patientCtrl.js"></script>
    <script src="/app/admin/nurse/browseCtrl.js"></script>
    <script src="/app/admin/nurse/createCtrl.js"></script>
    <script src="/app/admin/nurse/shiftCtrl.js"></script>
    <script src="/app/admin/patient/browseCtrl.js"></script>
    <script src="/app/admin/patient/viewCtrl.js"></script>
    <script src="/app/admin/shift/browseCtrl.js"></script>
    <script src="/app/admin/shift/viewCtrl.js"></script>
    <script src="/app/nurse/auth/loginCtrl.js"></script>
    <script src="/app/nurse/auth/profileCtrl.js"></script>
    <script src="/app/nurse/home/createCtrl.js"></script>
    <script src="/app/nurse/home/doctorCtrl.js"></script>
    <script src="/app/nurse/home/notificationCtrl.js"></script>
    <script src="/app/nurse/queue/patientCtrl.js"></script>
    <script src="/app/nurse/queue/recordCtrl.js"></script>
    <script src="/app/patient/auth/activationCtrl.js"></script>
    <script src="/app/patient/auth/forgetCtrl.js"></script>
    <script src="/app/patient/auth/loginCtrl.js"></script>
    <script src="/app/patient/auth/registerCtrl.js"></script>
    <script src="/app/patient/auth/resetCtrl.js"></script>
    <script src="/app/patient/booking/browseCtrl.js"></script>
    <script src="/app/patient/booking/confirmationCtrl.js"></script>
    <script src="/app/patient/booking/viewCtrl.js"></script>
    <script src="/app/patient/clinic/scheduleCtrl.js"></script>
    <script src="/app/patient/clinic/searchCtrl.js"></script>
    <script src="/app/patient/doctor/scheduleCtrl.js"></script>
    <script src="/app/patient/doctor/searchCtrl.js"></script>
    <script src="/app/patient/help/contentCtrl.js"></script>
    <script src="/app/patient/help/helpCtrl.js"></script>
    <script src="/app/patient/home/homeCtrl.js"></script>
    <script src="/app/patient/home/profileCtrl.js"></script>
    <script src="/app/patient/notification/browseCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
