<div class="clearfix">
  <div class="grid-70 tablet-grid-100 mobile-grid-100">
    <h3 class="margin-vertical-xs">Antrian - {{ shift.doctor.name | lowercase }}, {{ shift.doctor.title }}</h3>
  </div>
  <div class="grid-30 tablet-grid-100 mobile-grid-100">
    <h4 class="text-right">{{ tdate }}</h4>
  </div>
</div>
<hr class="margin-vertical-xs margin-horizontal-small ruler-light">
<div class="grid-100">
  <div class="panel panel-info" ng-show="notif">
    <div class="panel-body text-center">
      {{ notif.content }}
    </div>
  </div>
  <div class="table-responsive" ng-show="param.data.length && ['cancel','other'].indexOf(notif.topic) === -1">
    <table class="table table-striped" ui-table="param">
      <tr ng-repeat="queue in $data">
        <td data-title="'Antrian'" class="text-center">{{ queue.number }}</td>
        <td data-title="'Kode Pemesanan'" class="text-center">{{ shift.schedule.date | date : 'ddMMyy' }}{{ shift.doctor.clinic.toString().length < 3 ? shift.doctor.clinic.toString().length < 2 ? '00' : '0' : '' }}{{ shift.doctor.clinic }}{{ shift.doctor.id.toString().length < 3 ? shift.doctor.id.toString().length < 2 ? '00' : '0' : '' }}{{ shift.doctor.id }}{{ queue.number.toString().length < 2 ? '0' : '' }}{{ queue.number }}</td>
        <td data-title="'Nama Pasien'" class="text-center">{{ queue.users[0].name }}</td>
        <td data-title="'Waktu Masuk'" class="text-center">{{ queue.timeIn | date : 'HH:mm:ss' }}</td>
        <td data-title="'Waktu Keluar'" class="text-center">{{ queue.timeOut | date : 'HH:mm:ss' }}</td>
        <td data-title="'Durasi'" class="text-center">{{ queue.duration | date : 'HH:mm:ss' }}</td>
        <td data-title="'Aksi'" class="text-center">
          <a class="button button-default button-labeled button-xs" ng-show="!queue.timeOut" ng-click="stop()" ng-href="#/shift/{{ shift.id }}/queue/{{ queue.id }}">
            <span class="button-label bg-success"><i class="icon icon-network text-clear"></i></span>
            Periksa
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="panel panel-info" ng-show="!param.data.length">
    <div class="panel-body">
      <div class="text-center text-soft">
        Antrian tidak ditemukan.
      </div>
    </div>
  </div>
</div>
