<div class="grid-100 text-center" ng-show="queue">
  <div class="stopwatch">{{ timer | date : 'h:mm:ss' }}</div>
  <div class="margin-vertical-xl">
    <button class="button button-success-c button-large" type="button" name="button" ng-click="stop()">Selesai</button>
  </div>
</div>
<div class="grid-100" ng-show="!queue">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="text-center text-soft">
        Pasien tidak ditemukan.
      </div>
    </div>
  </div>
</div>
