<div class="wrapper">
  <header>
    <div class="header">
      <div class="grid-container padding-vertical-xl">
        <div class="grid-50">Daftar Klinik</div>
        <div class="grid-30 push-20 hide-on-mobile hide-on-tablet">
          <form name="form" ng-submit="search(query)" novalidate>
            <div class="form-group input-group margin-vertical-xs">
              <input class="form-control" type="text" name="query" ng-model="query" ng-required="true" placeholder="cari klinik berdasar nama, deskripsi, atau penyakit" autocomplete="off" autofocus>
              <span class="input-group-button">
                <button class="button button-default-c button-moz-fix" type="submit" ng-disabled="!form.$valid">
                  <i class="icon icon-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="grid-container margin-vertical-xl">
      <div class="hide-on-desktop">
        <form name="form" ng-submit="search(query)" novalidate>
          <div class="form-group input-group">
            <input class="form-control" type="text" name="query" ng-model="query" ng-required="true" placeholder="cari klinik berdasar nama, deskripsi, atau penyakit" autocomplete="off" autofocus>
            <span class="input-group-button">
              <button class="button button-default-c button-moz-fix" type="submit" ng-disabled="!form.$valid">
                <i class="icon icon-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
      <!-- CLINIC RESULT -->
      <div ng-show="clinics.length">
        <div class="grid-25 clearfix" ng-repeat="clinic in clinics.slice(currentPage*pageSize) | limitTo : pageSize">
          <div class="panel panel-info bg-light-gray-h" ng-click="goto(clinic.id)">
            <div class="panel-body text-center">
              <div class="equal-height margin-bottom-large">
                <h3 class="margin-top-xs margin-bottom-small">{{ clinic.name }}</h3>
                <p class="help-block">{{ clinic.location }}</p>
                <p class="padding-vertical-small">{{ clinic.description }}</p>
              </div>
              <a ng-href="#/clinic/schedule/{{ clinic.id }}" class="button button-small button-primary-c button-block">
                Lihat Jadwal
              </a>
            </div>
          </div>
        </div>
        <div class="grid-100 text-center" ng-show="clinics.length>pageSize">
          <hr class="ruler-light margin-top-xs">
          <button class="button button-default button-labeled pull-left" type="button" ng-disabled="currentPage==0" ng-click="currentPage=currentPage-1">
            <span class="button-label"><i class="icon icon-arrow-left-c"></i></span>
            Sebelumnya
          </button>
          <label class="sr-only">{{currentPage+1}}/{{numberOfPages}}</label>
          <button class="button button-default button-labeled pull-right" type="button" ng-disabled="currentPage==numberOfPages-1" ng-click="currentPage=currentPage+1">
            Selanjutnya
            <span class="button-label button-label-right"><i class="icon icon-arrow-right-c"></i></span>
          </button>
        </div>
      </div>
      <div class="grid-100" ng-show="!clinics.length">
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="text-center text-soft">
              Klinik tidak ditemukan.
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
