<div class="wrapper">
  <header>
    <div class="grid-container">
      <div class="header grid-100 margin-vert-20 text-center">
        <h1>Sejarah Pemesanan</h1>
      </div>
    </div>
  </header>
  <div class="grid-container margin-top-xl">
    <div class="grid-100">
      <div class="table-responsive" ng-show="param.data.length">
        <table class="table table-striped table-vertical-align-middle text-larger" ui-table="param">
          <tr ng-repeat="queue in $data">
            <td data-title="''" class="text-center" ng-bind-html="queue.code"></td>
            <td data-title="'Kode Pemesanan'" class="text-center">{{ queue.schedule.date | date : 'ddMMyy' }}{{ queue.schedule.shift.doctor.clinic.id.toString().length < 3 ? queue.schedule.shift.doctor.clinic.id.toString().length < 2 ? '00' : '0' : '' }}{{ queue.schedule.shift.doctor.clinic.id }}{{ queue.schedule.shift.doctor.id.toString().length < 3 ? queue.schedule.shift.doctor.id.toString().length < 2 ? '00' : '0' : '' }}{{ queue.schedule.shift.doctor.id }}{{ queue.number.toString().length < 2 ? '0' : '' }}{{ queue.number }}</td>
            <td data-title="'Tanggal'" sortable="'schedule.date'" class="text-center">{{ queue.schedule.date | date : 'dd-MM-yyyy' }}</td>
            <td data-title="'Klinik'" sortable="'schedule.shift.doctor.clinic.name'" class="text-center">{{ queue.schedule.shift.doctor.clinic.name }}</td>
            <td data-title="'Dokter'" sortable="'schedule.shift.doctor.name'" class="text-center">{{ queue.schedule.shift.doctor.title }} {{ queue.schedule.shift.doctor.name }}</td>
            <td data-title="'Shift'" sortable="'schedule.shift.startHour'" class="text-center">{{ queue.schedule.shift.startHour | toHour }}-{{ queue.schedule.shift.endHour | toHour }}</td>
            <td data-title="'Antrian'" sortable="'number'" class="text-center">{{ queue.number }}</td>
            <td data-title="'Waktu Periksa'" sortable="'timeIn'" class="text-center">{{ queue.timeIn | date : 'HH:mm:ss' }}-{{ queue.timeOut | date : 'HH:mm:ss' }}</td>
            <td data-title="'Waktu Pesan'" sortable="'createdAt'" class="text-center">{{ queue.createdAt | toDate }}</td>
          </tr>
        </table>
      </div>
      <div class="panel panel-info" ng-show="!param.data.length">
        <div class="panel-body">
          <div class="text-center text-soft">
            Pemesanan tidak ditemukan.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
