<div class="wrapper">
  <header>
    <!-- PROFILE -->
    <div class="header padding-vertical-xl">
      <div class="grid-container padding-vertical-xl hide-on-mobile hide-on-tablet">
        <div class="grid-20 prefix-25">
         <img ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}" class="img-thumbnail img-responsive">
        </div>
        <div class="grid-30 mobile-grid-100">
          <h2 class="margin-top-xs">{{ doctor.name | lowercase }}, {{ doctor.title }}</h2>
          <p class="help-block">{{ doctor.clinic.name }}</p>
          <p class="padding-top-xl"><strong>Nomor Antrian: {{ doctor.shift.queue }}</strong></p>
          <p><strong>Estimasi Waktu Konsultasi: {{ doctor.shift.time | toHour }} WIB</strong></p>
        </div>
      </div>
      <div class="grid-container padding-vertical-xl hide-on-desktop">
        <div class="grid-100 text-center">
          <h2 class="margin-top-xs">{{ doctor.name | lowercase }}, {{ doctor.title }}</h2>
          <p class="help-block">{{ doctor.clinic.name }}</p>
          <p class="padding-top-xl"><strong>Nomor Antrian: {{ doctor.shift.queue }}</strong></p>
          <p><strong>Estimasi Waktu Konsultasi: {{ doctor.shift.time | toHour }} WIB</strong></p>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="grid-container margin-top-xl">
      <form class="form-horizontal" name="form" ng-submit="submit(patient)" novalidate>
        <div class="grid-60 push-20 mobile-grid-100">
          <div class="panel panel-info" ng-show="doctor.shift.notif">
            <div class="panel-body text-center">
              {{ doctor.shift.notif.content }}
            </div>
          </div>
          <div class="panel panel-info margin-top-xl" ng-hide="['cancel','other'].indexOf(doctor.shift.notif.topic) > -1">
            <div class="panel-heading"><strong>Konfirmasi Pendaftaran</strong><span class="pull-right">{{ tdate | date : 'dd/MM/yy' }}</span></div>
            <div class="panel-body">
              <div class="form-group" ng-class="{ 'validation-error' : form.ktp.$touched && form.ktp.$dirty && form.ktp.$invalid }">
                <label class="grid-20 control-label">Nomor KTP</label>
                <div class="grid-75">
                  <input class="form-control" name="ktp" type="text" ng-model="patient.ktp" ng-pattern="/^[0-9]+$/" ng-required="true" autocomplete="off" autofocus>
                  <div class="margin-top-small text-error" ng-if="!form.ktp.$valid && form.ktp.$dirty">
                    <small ng-show="form.ktp.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor KTP harus berupa angka</small>
                    <small ng-show="form.ktp.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor KTP harus diisi</small>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid }">
                <label class="grid-20 control-label">Nama Lengkap</label>
                <div class="grid-75">
                  <input class="form-control" name="name" type="text" ng-model="patient.name" ng-pattern="/^[A-Za-z\.\,\ ]+$/" ng-minlength="2" ng-maxlength="45" ng-required="true" autocomplete="off">
                  <div class="margin-top-small text-error" ng-if="!form.name.$valid && form.name.$dirty">
                    <small ng-show="form.name.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nama Lengkap tidak valid</small>
                    <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama Lengkap tidak boleh kurang dari 2 karakter</small>
                    <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama Lengkap tidak boleh lebih dari 45 karakter</small>
                    <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama Lengkap harus diisi</small>
                  </div>
                </div>
              </div>
              <div class="form-group margin-bottom-xs">
                <label class="grid-20 control-label">Tanggal Lahir</label>
                <div class="grid-75 padding-right-none margin-right--10">
                  <div class="padding-left-small">
                    <date-picker name="birthdate" ng-model="patient.birthdate"></date-picker>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'validation-error' : form.phone.$touched && form.phone.$dirty && form.phone.$invalid }">
                <label class="grid-20 control-label">Nomor HP</label>
                <div class="grid-75">
                  <input class="form-control" type="text" name="phone" ng-model="patient.phone" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="15" ng-required="true" autocomplete="off">
                  <div class="margin-top-small text-error" ng-if="!form.phone.$valid && form.phone.$dirty">
                    <small ng-show="form.phone.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor HP harus berupa angka</small>
                    <small ng-show="form.phone.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor HP tidak boleh kurang dari 5 karakter</small>
                    <small ng-show="form.phone.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor HP tidak boleh lebih dari 15 karakter</small>
                    <small ng-show="form.phone.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor HP harus diisi</small>
                  </div>
                  <i>*Mohon masukkan Nomor HP aktif, karena Anda akan mendapatkan sms yang harus ditunjukkan saat daftar ulang</i>
                </div>
              </div>
              <div class="form-group" ng-class="{ 'validation-error' : form.email.$touched && form.email.$dirty && form.email.$invalid }">
                <label class="grid-20 control-label">Alamat Email</label>
                <div class="grid-75">
                  <input class="form-control" type="email" name="email" ng-model="patient.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-maxlength="45" autocomplete="off">
                  <div class="margin-top-small text-error" ng-if="!form.email.$valid && form.email.$dirty">
                    <small ng-show="form.email.$error.email || form.email.$error.pattern"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
                    <small ng-show="form.email.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Email tidak boleh lebih dari 45 karakter</small>
                  </div>
                  <i>*tidak wajib diisi</i>
                </div>
              </div>
              <div class="form-group">
                <div class="grid-75 prefix-20">
                  <button class="button button-primary button-labeled" type="submit" ng-disabled="form.$pristine || !form.$valid || isDisabled">
                    <span class="button-label"><i class="icon icon-checkmark"></i></span>
                    Submit
                  </button>
      						<button class="button button-default button-labeled" type="reset" ng-click="reset()" ng-disabled="form.$pristine">
                    <span class="button-label"><i class="icon icon-refresh"></i></span>
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </article>
</div>
