<div class="wrapper">
  <header>
    <div class="grid-container">
      <!-- PROFILE -->
      <div class="header grid-100 margin-vert-20 text-center">
          <h1>Bukti Registrasi</h1>
      </div>
    </div>
  </header>
  <article>
    <div class="grid-container">
      <div class="grid-100">
        <div class="text-center margin-vertical-xl">
          <h2>Selamat, Anda telah terdaftar !</h2>
          <qrcode version="5" error-correction-level="M" size="200" data="{{ booking.schedule.date | date : 'ddMMyy' }}{{ booking.schedule.shift.doctor.clinic.id.toString().length < 3 ? booking.schedule.shift.doctor.clinic.id.toString().length < 2 ? '00' : '0' : '' }}{{ booking.schedule.shift.doctor.clinic.id }}{{ booking.schedule.shift.doctor.id.toString().length < 3 ? booking.schedule.shift.doctor.id.toString().length < 2 ? '00' : '0' : '' }}{{ booking.schedule.shift.doctor.id }}{{ booking.number.toString().length < 2 ? '0' : '' }}{{ booking.number }}" download></qrcode>
          <p>Silahkan datang paling lambat 30 menit sebelum waktu konsultasi atau nomor antrian anda akan hangus.</p>
          <br/>
          <p>Kunjungi <a href="/#/notification">Halaman notifikasi</a> untuk melihat update maupun perubahan jadwal</p>
          <br>
          <a href="/#/" class="button button-primary-c">Kembali Ke Beranda</a>
        </div>
      </div>
    </div>
  </article>
</div>
