<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Analisis Waktu Konsultasi Dokter
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
    <table class="table table-striped table-vertical-align-middle" ui-table="param">
			<tr ng-repeat="doctor in $data" ng-form="form">
				<td data-title="'#'" class="text-center">{{ $index+1 }}</td>
        <td data-title="'Foto'"><img class="img-responsive img-50" ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}"></td>
        <td data-title="'Gelar'" sortable="'title'">{{ doctor.title }}</td>
        <td data-title="'Nama'" sortable="'name'">{{ doctor.name | lowercase }}</td>
        <td data-title="'Klinik'" sortable="'clinic.name'">{{ doctor.clinic.name }}</td>
        <td data-title="'Keterangan'" sortable="'desc'">{{ doctor.desc }}</td>
        <td data-title="'Estimasi Durasi Konsultasi Setiap Pasien'" sortable="'time'" class="text-center">{{ doctor.time | date : 'HH:mm:ss' }}</td>
			</tr>
    </table>
  </div>
  <div class="text-center" ng-show="!param.data.length">
    <h3 class="margin-vertical-xl text-soft">Data dokter tidak ditemukan.</h3>
  </div>
</article>
