<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Dokter
      <span class="pull-right">
        <a class="button button-default button-labeled" ng-href="#/doctor/create">
          <span class="button-label bg-primary"><i class="icon icon-plus text-clear"></i></span>
          Tambah
        </a>
      </span>
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
    <table class="table table-striped table-vertical-align-middle" ui-table="param" show-filter="true">
			<tr ng-repeat="doctor in $data" ng-form="form">
				<td data-title="'#'" class="text-center">{{ $index+1 }}</td>
        <td data-title="'Foto'" ng-switch="doctor.isEditing">
          <span ng-switch-default>
            <img class="img-responsive img-50" ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}">
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : nofile || format || size}">
            <input class="form-control" type="file" name="picture" ui-file-model="doctor.picture" ng-model="doctor.picture" onchange="angular.element(this).scope().preview(this)">
            <div>
              <small class="text-error" ng-show="nofile"><i class="icon icon-ios-close-outline"></i> Foto tidak tersedia</small>
              <small class="text-error" ng-show="format"><i class="icon icon-ios-close-outline"></i> Foto harus berformat [png | jpg | jpeg]</small>
              <small class="text-error" ng-show="size"><i class="icon icon-ios-close-outline"></i> Foto tidak boleh berukuran lebih dari 2 MB</small>
            </div>
          </div>
        </td>
        <td data-title="'Gelar'" sortable="'title'" filter="{ 'title':'text' }" ng-switch="doctor.isEditing">
          <span ng-switch-default>
            {{ doctor.title }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.title.$touched && form.title.$invalid && form.title.$dirty}">
            <input class="form-control" type="text" name="title" placeholder="Gelar" ng-model="doctor.title"  ng-minlength="2" ng-maxlength="10" ng-required="true">
            <div class="margin-top-small text-error" ng-if="form.title.$touched && form.title.$dirty">
              <small ng-show="form.title.$error.minlength"><i class="icon icon-ios-close-outline"></i> Gelar tidak boleh kurang dari 2 karakter</small>
              <small ng-show="form.title.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Gelar tidak boleh lebih dari 10 karakter</small>
              <small ng-show="form.title.$error.required"><i class="icon icon-ios-close-outline"></i> Gelar harus diisi</small>
            </div>
          </div>
        </td>
				<td data-title="'Nama'" sortable="'name'" filter="{ 'name':'text' }" ng-switch="doctor.isEditing">
          <span ng-switch-default>
            {{ doctor.name | lowercase }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
            <input class="form-control" type="text" name="name" placeholder="Nama" ng-model="doctor.name" ng-minlength="3" ng-maxlength="45" ng-required="true">
            <div class="margin-top-small text-error" ng-if="form.name.$touched && form.name.$dirty">
              <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
              <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
              <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
            </div>
          </div>
        </td>
				<td data-title="'Klinik'" sortable="'clinic.name'" ng-switch="doctor.isEditing">
          <span ng-switch-default>
            {{ doctor.clinic.name }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.clinic.$touched && form.clinic.$dirty && form.clinic.$invalid}">
            <select class="form-control" name="clinic" ng-model="doctor.clinic" ng-required="true" ng-options="item.name for item in clinics track by item.id"></select>
            <div class="margin-top-small text-error" ng-if="form.clinic.$touched && form.clinic.$dirty">
              <small ng-show="form.clinic.$error.required"><i class="icon icon-ios-close-outline"></i> Klinik harus dipilih</small>
            </div>
          </div>
        </td>
				<td class="text-justify" data-title="'Keterangan'" sortable="'desc'" filter="{ 'desc':'text' }" ng-switch="doctor.isEditing">
          <span ng-switch-default>
            {{ doctor.desc }}
          </span>
          <div ng-switch-when="true">
            <textarea class="form-control" rows="5" name="desc" ng-model="doctor.desc" ng-maxlength="255">{{ doctor.desc }}</textarea>
            <div class="margin-top-small text-error" ng-if="form.desc.$touched && form.desc.$dirty">
              <small ng-show="form.desc.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Keterangan tidak boleh lebih dari 255 karakter</small>
            </div>
          </div>
        </td>
				<td data-title="'Aksi'" class="text-center text-nowrap">
          <a class="button button-default button-labeled button-xs" ng-if="!doctor.isEditing" ng-href="#/doctor/shift/{{ doctor.id }}">
            <span class="button-label"><i class="icon icon-clipboard"></i></span>
            shift
          </a>
          <a class="button button-default button-labeled button-xs" ng-if="!doctor.isEditing" ng-href="#/doctor/{{ doctor.id }}">
            <span class="button-label bg-success"><i class="icon icon-eye text-clear"></i></span>
            lihat
          </a>
          <a class="button button-default button-labeled button-xs" ng-if="!doctor.isEditing" ng-click="edit(doctor)">
            <span class="button-label bg-vibrant"><i class="icon icon-compose text-clear"></i></span>
            ubah
          </a>
          <a class="button button-default button-labeled button-xs" ng-if="!doctor.isEditing" ng-click="delete(doctor)">
            <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
            hapus
          </a>
          <a class="button button-primary button-labeled" ng-if="doctor.isEditing" ng-click="save(doctor)" ng-disabled="form.$pristine || form.$invalid || nofile || format || size">
            <span class="button-label"><i class="icon icon-checkmark"></i></span>
            simpan
          </a>
          <a class="button button-default button-labeled" ng-if="doctor.isEditing" ng-click="cancel(doctor, form)">
            <span class="button-label"><i class="icon icon-close"></i></span>
            batal
          </a>
        </td>
			</tr>
    </table>
  </div>
  <div class="text-center" ng-show="!param.data.length">
    <h3 class="margin-vertical-xl text-soft">Data dokter tidak ditemukan.</h3>
  </div>
</article>
