<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">Tambah Data Dokter</h2>
  </div>
</header>
<article>
  <div class="grid-container margin-vertical-medium padding-vertical-xl bg-light-gray">
		<div class="grid-70 mobile-grid-100 push-10 padding-medium" ng-switch="!clinics.length">
			<form class="form-horizontal" name="form" method="post" role="form" ng-submit="submit(doctor)" ng-switch-default novalidate>
        <div class="form-group" ng-class="{'validation-error' : form.title.$touched && form.title.$dirty && form.title.$invalid}">
					<label class="grid-20 control-label" for="title">Gelar</label>
					<div class="grid-80">
						<input class="form-control" type="text" placeholder="Sp.OT" name="title" ng-model="doctor.title" ng-minlength="2" ng-maxlength="10" ng-required="true" autocomplete="off" tooltip="Gelar Belakang / Spesialis" tooltip-placement="top" tooltip-trigger="mouseenter" autofocus>
            <div class="margin-top-small text-error" ng-if="form.title.$touched && form.title.$dirty">
              <small ng-show="form.title.$error.minlength"><i class="icon icon-ios-close-outline"></i> Gelar tidak boleh kurang dari 2 karakter</small>
              <small ng-show="form.title.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Gelar tidak boleh lebih dari 10 karakter</small>
              <small ng-show="form.title.$error.required"><i class="icon icon-ios-close-outline"></i> Gelar harus diisi</small>
            </div>
					</div>
				</div>
				<div class="form-group" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
					<label class="grid-20 control-label" for="name">Nama</label>
					<div class="grid-80">
						<input class="form-control" type="text" name="name" placeholder="dr. Fulan" tooltip="Nama Dokter" tooltip-placement="top" tooltip-trigger="mouseenter" ng-model="doctor.name" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off">
            <div class="margin-top-small text-error" ng-if="form.name.$touched && form.name.$dirty">
              <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
              <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
              <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
            </div>
					</div>
				</div>
				<div class="form-group" ng-class="{'validation-error' : form.$error.autocomplete && form.$dirty && form.$invalid}">
					<label class="grid-20 control-label" for="clinic">Klinik</label>
					<div class="grid-80">
            <auto-complete local-data="clinics" selected-object="doctor.clinic" search-fields="name" title-field="name" minlength="1" input-class="form-control" field-required="true" field-required-class="autocomplete" placeholder="Cari Klinik"></auto-complete>
					</div>
				</div>
        <div class="form-group" ng-class="{'validation-error' : form.desc.$touched && form.desc.$dirty && form.desc.$invalid}">
					<label class="grid-20 control-label" for="desc">Keterangan</label>
					<div class="grid-80">
						<textarea class="form-control" rows="5" name="desc" placeholder="NIP 140103120019" tooltip="Keterangan Dokter" tooltip-placement="top" tooltip-trigger="mouseenter" ng-model="doctor.desc" ng-maxlength="255">{{ doctor.desc }}</textarea>
            <div class="margin-top-small text-error" ng-if="form.desc.$touched && form.desc.$dirty">
              <small ng-show="form.desc.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Keterangan tidak boleh lebih dari 255 karakter</small>
            </div>
					</div>
				</div>
        <div class="form-group" ng-class="{'validation-error' : nofile || format || size}">
					<label class="grid-20 control-label" for="picture">Foto</label>
					<div class="grid-80">
						<input class="form-control" type="file" name="picture" ng-model="doctor.picture" ui-file-model="doctor.picture" onchange="angular.element(this).scope().preview(this)">
            <div class="margin-top-small">
              <small class="text-error" ng-show="nofile"><i class="icon icon-ios-close-outline"></i> Foto tidak tersedia</small>
              <small class="text-error" ng-show="format"><i class="icon icon-ios-close-outline"></i> Foto harus berformat [png | jpg | jpeg]</small>
              <small class="text-error" ng-show="size"><i class="icon icon-ios-close-outline"></i> Foto tidak boleh berukuran lebih dari 2 MB</small>
              <img ng-src="{{ img }}" width="245.25" ng-hide="nofile || format || size">
            </div>
					</div>
				</div>
				<div class="form-group">
					<div class="prefix-20 grid-80">
						<button class="button button-primary button-labeled" type="submit" ng-disabled="form.$pristine || form.$invalid || nofile || format || size">
              <span class="button-label"><i class="icon icon-checkmark"></i></span>
              Simpan
            </button>
						<button class="button button-default button-labeled" type="reset" ng-click="reset()" ng-disabled="form.$pristine">
              <span class="button-label"><i class="icon icon-refresh"></i></span>
              Reset
            </button>
					</div>
				</div>
			</form>
      <div class="text-center" ng-switch-when="true">
        <h3 class="margin-vertical-xl">Data klinik masih kosong.</h3>
        <br>
        <a class="button button-large button-default button-labeled" ng-href="#/clinic/create">
          <span class="button-label"><i class="icon icon-compose"></i></span>
          Buat Klinik
        </a>
      </div>
		</div>
	</div>
</article>
