<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Shift Dokter
    </h2>
  </div>
</header>
<article>
  <div class="margin-vertical-medium clearfix">
    <div class="grid-33 padding-horizontal-medium padding-vertical-xl bg-light-gray">
      <div class="panel panel-info bg-light-gray-h">
        <div class="panel-body padding-none clearfix">
          <div class="pull-left margin-right-small">
            <a ng-href="#/doctor/{{ doctor.id }}">
              <img class="img-thumbnail img-responsive" ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}" width="50px" height="50px">
            </a>
          </div>
          <h4 class="margin-xs">{{ doctor.name | lowercase }}, {{ doctor.title }}</h4>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-body">
          <form class="form-horizontal padding-medium" name="form" ng-submit="save()" novalidate>
            <div class="form-group">
              <label class="grid-35 control-label" for="days">Hari</label>
              <div class="grid-65">
                <select class="form-control" name="day" ng-model="day" ng-required="true">
                  <option value="" selected>--- Pilih Hari ---</option>
                  <option ng-repeat="data in DAYS" value="{{ $index }}">{{ data }}</option>
                </select>
                <div class="margin-top-small text-error" ng-if="form.day.$touched && form.day.$dirty">
                  <small ng-show="form.day.$error.required"><i class="icon icon-ios-close-outline"></i> Hari harus dipilih</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="grid-35 control-label" for="startHour">Jam Mulai</label>
              <div class="grid-65">
                <time-picker name="startHour" ng-model="startHour" minute-step="10" show-spinners="false" show-meridian="false" ng-required="true"></time-picker>
                <div class="margin-top-small text-error" ng-if="form.startHour.$dirty">
                  <small ng-show="form.startHour.$error.required"><i class="icon icon-ios-close-outline"></i> Jam mulai harus diisi.</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="grid-35 control-label" for="endHour">Jam Selesai</label>
              <div class="grid-65">
                <time-picker name="endHour" ng-model="endHour" minute-step="10" show-spinners="false" show-meridian="false" ng-required="true"></time-picker>
                <div class="margin-top-small text-error" ng-if="form.endHour.$dirty || larger">
                  <small ng-show="form.endHour.$error.required"><i class="icon icon-ios-close-outline"></i> Jam selesai harus diisi.</small>
                  <small ng-show="!form.$pristine && larger"><i class="icon icon-ios-close-outline"></i> Jam selesai harus lebih besar dari jam mulai.</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="prefix-35 grid-65">
                <button class="button button-default button-labeled" ng-disabled="form.$pristine || form.$invalid || larger">
                  <span class="button-label bg-primary"><i class="icon icon-plus text-clear"></i></span>
                  Simpan
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="margin-vertical-small hide-on-desktop"></div>
    <div class="grid-65 tablet-grid-100 mobile-grid-100 padding-horizontal-medium padding-vertical-xl bg-light-gray pull-right">
      <div ng-show="param.data.length">
        <div class="table-responsive text-center">
          <table class="table table-bordered table-striped" ui-table="param">
            <tr ng-repeat="shift in $data">
              <td data-title="'#'">{{ $index+1 }}</td>
              <td data-title="'Hari'" sortable="'day'">{{ shift.day | toDay }}</td>
              <td data-title="'Jam Mulai'" sortable="'startHour'">{{ shift.startHour | toHour }}</td>
              <td data-title="'Jam Selesai'" sortable="'endHour'">{{ shift.endHour | toHour }}</td>
              <td data-title="'Dibuat'" sortable="'createdAt'">{{ shift.createdAt | toDate }}</td>
              <td data-title="'Aksi'">
                <button class="button button-default button-xs button-labeled" ng-click="delete(shift)">
                  <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
                  hapus
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-show="!param.data.length">
        <div class="text-center text-soft">Shift dokter tidak ditemukan.</div>
      </div>
    </div>
  </div>
</article>
