<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Lihat Data Dokter
    </h2>
  </div>
</header>
<article>
  <div ng-show="doctor">
    <div class="margin-vertical-medium bg-light-gray clearfix">
      <div class="grid-20 margin-vertical-large">
        <div class="thumbnail bg-clear">
        <img class="img-responsive portrait" ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}" width="100%">
        </div>
      </div>
      <div class="grid-80 margin-vertical-large">
        <div class="panel panel-info">
          <div class="panel-body">
            <strong>Nama:</strong>
            <p class="margin-bottom-large">{{ doctor.name | lowercase }}, {{ doctor.title }}</p>
            <strong>Klinik:</strong>
            <p class="margin-bottom-large">{{ doctor.clinic.name }}</p>
            <strong>Keterangan:</strong>
            <p class="text-justify">{{ doctor.desc }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-horizontal-medium padding-vertical-large bg-light-gray text-center clearfix">
      <h3 class="margin-vertical-xs text-left">Jadwal Dokter</h3>
      <hr class="margin-vertical-xs padding-bottom-medium ruler-light">
      <div ng-show="doctor.shifts.length">
  			<div class="grid-13 panel panel-info margin-horizontal-xs margin-vertical-large bg-light-gray-h equal-height">
  				<div class="panel-body padding-none">
  					<h3 class="margin-vertical-xs">Senin</h3>
  					<hr class="margin-vertical-small ruler-soft">
  					<h4 ng-repeat="shift in doctor.shifts" ng-show="shift.day==1">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h4>
  				</div>
  			</div>
  			<div class="grid-13 panel panel-info margin-horizontal-xs margin-vertical-large bg-light-gray-h equal-height">
  				<div class="panel-body padding-none">
  					<h3 class="margin-vertical-xs">Selasa</h3>
  					<hr class="margin-vertical-small ruler-soft">
  					<h4 ng-repeat="shift in doctor.shifts" ng-show="shift.day==2">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h4>
  				</div>
  			</div>
  			<div class="grid-13 panel panel-info margin-horizontal-xs margin-vertical-large bg-light-gray-h equal-height">
  				<div class="panel-body padding-none">
  					<h3 class="margin-vertical-xs">Rabu</h3>
  					<hr class="margin-vertical-small ruler-soft">
  					<h4 ng-repeat="shift in doctor.shifts" ng-show="shift.day==3">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h4>
  				</div>
  			</div>
  			<div class="grid-13 panel panel-info margin-horizontal-xs margin-vertical-large bg-light-gray-h equal-height">
  				<div class="panel-body padding-none">
  					<h3 class="margin-vertical-xs">Kamis</h3>
  					<hr class="margin-vertical-small ruler-soft">
  					<h4 ng-repeat="shift in doctor.shifts" ng-show="shift.day==4">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h4>
  				</div>
  			</div>
  			<div class="grid-13 panel panel-info margin-horizontal-xs margin-vertical-large bg-light-gray-h equal-height">
  				<div class="panel-body padding-none">
  					<h3 class="margin-vertical-xs">Jumat</h3>
  					<hr class="margin-vertical-small ruler-soft">
  					<h4 ng-repeat="shift in doctor.shifts" ng-show="shift.day==5">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h4>
  				</div>
  			</div>
  			<div class="grid-13 panel panel-info margin-horizontal-xs margin-vertical-large bg-light-gray-h equal-height">
  				<div class="panel-body padding-none">
  					<h3 class="margin-vertical-xs">Sabtu</h3>
  					<hr class="margin-vertical-small ruler-soft">
  					<h4 ng-repeat="shift in doctor.shifts" ng-show="shift.day==6">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h4>
  				</div>
  			</div>
  			<div class="grid-13 panel panel-info margin-horizontal-xs margin-vertical-large bg-light-gray-h equal-height">
  				<div class="panel-body padding-none">
  					<h3 class="margin-vertical-xs">Minggu</h3>
  					<hr class="margin-vertical-small ruler-soft">
  					<h4 ng-repeat="shift in doctor.shifts" ng-show="shift.day==0">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h4>
  				</div>
  			</div>
      </div>
      <div class="margin-vertical-xl text-soft text-center" ng-show="!doctor.shifts.length">Shift dokter tidak ditemukan.</div>
		</div>
  </div>
  <div class="text-center" ng-show="!doctor">
    <div class="grid-fluid bg-light-gray margin-vertical-medium padding-vertical-xl">
      <h3 class="margin-vertical-xl text-soft">Data dokter tidak ditemukan.</h3>
    </div>
  </div>
</article>
