<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Pemberitahuan
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
      <table class="table table-striped" ui-table="param">
        <tr ng-repeat="notif in $data">
        <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
        <td data-title="'Pembuat'" sortable="'notif.creator'" class="text-center" filter="{ 'creator':'text' }">{{ notif.creator }}</td>
        <td data-title="'Tanggal'" sortable="'notif.schedule.date'" class="text-center" filter="{ 'date':'text' }">{{ notif.schedule.date | Date }}</td>
        <td data-title="'Klinik'" sortable="'schedule.shift.doctor.clinic.name'" class="text-center">{{ notif.schedule.shift.doctor.clinic.name }}</td>
        <td data-title="'Dokter'" sortable="'schedule.shift.doctor.name'" class="text-center">{{ notif.schedule.shift.doctor.name | lowercase }}, {{ notif.schedule.shift.doctor.title }}</td>
        <td data-title="'Shift'" sortable="'schedule.shift.startHour'" class="text-center">{{ notif.schedule.shift.startHour | toHour }} - {{ notif.schedule.shift.endHour | toHour }}</td>
				<td data-title="'Topik'" sortable="'notif.topic'" class="text-center" filter="{ 'topic':'text' }">{{ notif.topic }}</td>
				<td data-title="'Deskripsi'" sortable="'notif.content'" class="text-center" filter="{ 'content':'text' }">{{ notif.content }}</td>
        <td data-title="'Daftar Pasien'" class="text-center text-nowrap">
            <a class="button button-default button-labeled button-xs" ng-href="#/notif/{{ notif.schedule.date }}${{ notif.schedule.shift.id }}">
              <span class="button-label bg-success"><i class="icon icon-eye text-clear"></i></span>
              lihat
            </a>
          </td>
      </tr>
      </table>
    </div>
    <div class="text-center" ng-show="!param.data.length">
      <h3 class="margin-vertical-xl text-soft">Data Notifikasi tidak ditemukan.</h3>
    </div>
  </div>
</article>
