<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Pasien yang Terdaftar
    </h2>
    <span class="pull-right">
        <a class="button button-default button-labeled" ng-href="#/notif">
          <span class="button-label"><i class="icon text-clear"></i></span>
          Kembali
        </a>
      </span>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
      <table class="table table-striped" ui-table="param">
        <tr ng-repeat="patient in $data">
          <td data-title="'#'"class="text-center" >{{ $index+1 }}</td>
          <td data-title="'Nama'" class="text-center" sortable="'patient.name'">{{ patient.users[0].name }}</td>
          <td data-title="'Tanggal Lahir'" class="text-center" sortable="'patient.birthdate'">{{ patient.users[0].birthdate | date : 'dd/MM/yyyy' }}</td>
          <td data-title="'Jenis Kelamin'" sortable="'patient.gender'" class="text-center">{{ patient.users[0].gender=='M' ? 'Laki- laki' : patient.gender=='F' ? 'Perempuan' : '-'}}</td>
          <td data-title="'No tlp'" sortable="'patient.phone'" class="text-center">{{ patient.users[0].phone }}</td>
          <td data-title="'Email'" sortable="'patient.email'" class="text-center">{{ patient.users[0].email }}</td>
        </tr>
      </table>
    </div>
    <div class="text-center" ng-show="!param.data.length">
      <h3 class="margin-vertical-xl text-soft">Data pemesanan tidak ditemukan.</h3>
    </div>
  </div>
</article>
