<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Shift
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
      <table class="table table-striped" ui-table="param" show-filter="true">
        <tr ng-repeat="shift in $data">
          <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
          <td data-title="'Hari'" filter="{'day':'text'}" sortable="'day'">{{ shift.day | toDay }}</td>
          <td data-title="'Jam Mulai'" filter="{'startHour':'text'}" sortable="'startHour'" class="text-center">{{ shift.startHour | toHour }}</td>
          <td data-title="'Jam Selesai'" filter="{'endHour':'text'}" sortable="'endHour'" class="text-center">{{ shift.endHour | toHour }}</td>
          <td data-title="'Aksi'" class="text-center">
            <a class="button button-default button-labeled button-xs" ng-href="#/shift/{{ shift.day }}${{ shift.startHour | date : 'yyMMddHHmm' }}${{ shift.endHour | date : 'yyMMddHHmm' }}">
              <span class="button-label bg-success"><i class="icon icon-eye text-clear"></i></span>
              lihat
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="text-center" ng-show="!param.data.length">
			<h3 class="margin-vertical-xl text-soft">Data shift tidak ditemukan.</h3>
		</div>
  </div>
</article>
