<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">Lihat Data Shift</h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
		<div ng-show="shift">
      <div class="clearfix">
  			<h2 class="margin-vertical-xl text-center">{{ shift.day | toDay }}, {{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</h2>
  			<hr class="margin-bottom-xs ruler-light">
        <h3 class="margin-vertical-xs">Dokter Shift</h3>
        <hr class="margin-vertical-xs ruler-soft">
        <div ng-show="shift.doctors.length">
          <div class="grid-25 margin-vertical-xl" ng-repeat="doctor in shift.doctors">
            <div class="panel panel-info bg-light-gray-h equal-height-doctor">
              <div class="panel-body padding-none">
                <div class="thumbnail bg-clear">
                  <a ng-href="#/doctor/{{ doctor.id }}">
                    <img class="img-responsive portrait" ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}" width="100%">
                  </a>
                </div>
                <hr class="margin-vertical-xs ruler-light">
                <div class="padding-medium">
                  <strong>Nama:</strong>
                  <p class="margin-bottom-large">{{ doctor.name | lowercase }}, {{ doctor.title }}</p>
                  <strong>Klinik:</strong>
                  <p class="margin-bottom-large">{{ doctor.clinic.name }}</p>
                  <strong>Keterangan:</strong>
                  <p class="text-justify">{{ doctor.desc }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-vertical-xl text-soft text-center" ng-show="!shift.doctors.length">Dokter shift tidak ditemukan.</div>
      </div>
      <div class="clearfix">
        <hr class="margin-bottom-xs ruler-light">
        <h3 class="margin-vertical-xs">Perawat Shift</h3>
        <hr class="margin-vertical-xs ruler-soft">
        <div ng-show="shift.nurses.length">
          <div class="grid-25 margin-vertical-xl" ng-repeat="nurse in shift.nurses">
            <div class="panel panel-info bg-light-gray-h equal-height-nurse">
              <div class="panel-body padding-none">
                <div class="padding-medium">
                  <strong>Nama:</strong>
                  <p class="margin-bottom-medium">{{ nurse.user.name }}</p>
                  <strong>Email:</strong>
                  <p class="margin-bottom-medium">{{ nurse.user.email }}</p>
                  <strong>Klinik:</strong>
                  <p>{{ nurse.clinic.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-vertical-xl text-soft text-center" ng-show="!shift.nurses.length">Perawat shift tidak ditemukan.</div>
      </div>
    </div>
    <div class="text-center" ng-show="!shift">
			<h3 class="margin-vertical-xl text-soft">Data shift tidak ditemukan.</h3>
		</div>
  </div>
</article>
