<div class="wrapper">
  <header>
    <div class="grid-container">
      <div class="header grid-100 margin-vert-20 text-center">
          <h1>Notifikasi Saya</h1>
      </div>
    </div>
  </header>
  <div class="grid-container clearfix margin-top-xl">
    <div class="grid-70 tablet-grid-100 mobile-grid-100"></div>
    <div class="grid-30 tablet-grid-100 mobile-grid-100">
      <form class="form-horizontal" ng-submit="submit()" novalidate>
        <div class="form-group margin-bottom-xs">
          <label class="grid-25 tablet-grid-45 mobile-grid-20 control-label text-right">Tanggal</label>
          <div class="grid-55 tablet-grid-40 mobile-grid-65 padding-right-none margin-right--10">
            <div class="padding-left-small">
              <date-picker name="idate" ng-model="idate"></date-picker>
            </div>
          </div>
          <div class="grid-20 tablet-grid-15 mobile-grid-15 padding-none">
            <button type="submit" class="button button-block button-default-c button-moz-fix">
              <i class="icon icon-search text-info"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="grid-container clearfix">
    <div class="grid-100">
      <hr class="margin-vertical-xs ruler-light">
      <div class="table-responsive" ng-show="param.data.length">
        <table class="table table-striped" ui-table="param">
          <tr ng-repeat="schedule in $data" ng-show="schedule.notification.length">
            <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
            <td data-title="'Klinik'" class="text-center">{{ schedule.shift.doctor.clinic.name }}</td>
            <td data-title="'Dokter'" class="text-center">{{ schedule.shift.doctor.title }} {{ schedule.shift.doctor.name }}</td>
            <td data-title="'Shift'" class="text-center">{{ schedule.shift.startHour | date : 'HH:mm' }}-{{ schedule.shift.endHour | date : 'HH:mm' }}</td>
            <td data-title="'Topik'" class="text-center">{{ schedule.notification[0].topic }}</td>
            <td data-title="'Keterangan'" class="text-center">{{ schedule.notification[0].content }}</td>
          </tr>
        </table>
      </div>
      <div class="panel panel-info" ng-show="!param.data.length">
        <div class="panel-body">
          <div class="text-center text-soft">
            Notifikasi tidak ditemukan.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
