<div class="wrapper">
	<header>
		<!-- PROFILE -->
    <div class="header padding-vertical-xl">
      <div class="grid-container padding-vertical-xl hide-on-mobile hide-on-tablet">
        <div class="grid-20 prefix-25">
         <img ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}" class="img-thumbnail img-responsive">
        </div>
        <div class="grid-30 mobile-grid-100">
          <h2 class="margin-top-xs">{{ doctor.name | lowercase }}, {{ doctor.title }}</h2>
          <p class="help-block">{{ doctor.clinic.name }}</p>
          <p class="padding-top-xl">{{ doctor.desc }}</p>
        </div>
      </div>
			<div class="grid-container padding-large hide-on-desktop">
        <div class="grid-100 text-center">
					<h2 class="margin-top-xs">{{ doctor.name | lowercase }}, {{ doctor.title }}</h2>
          <p class="help-block">{{ doctor.clinic.name }}</p>
          <p class="padding-top-xl">{{ doctor.desc }}</p>
        </div>
      </div>
    </div>
	</header>
	<article>
		<div class="grid-container">
			<div class="grid-100 text-center">
				<h3>Registrasi Jadwal</h3>
				<p class="help-block">Pilih jadwal yang ingin Anda daftarkan</p>
			</div>
			<div class="grid-20 mobile-grid-100">
				<div class="panel panel-info">
					<div class="panel-body">
						<form name="form" ng-submit="submit()" novalidate>
							<div class="form-group">
								<label>Tanggal Awal</label>
								<date-picker data-not-before="today" ng-model="start"></date-picker>
							</div>
							<div class="form-group">
								<label>Tanggal Akhir</label>
								<date-picker data-not-before="start" ng-model="end"></date-picker>
							</div>
							<div class="form-group">
								<button class="button button-success button-block">Cari</button>
							</div>
						</form>
					</div>
				</div>
				<a ng-href="#/clinic/schedule/{{ doctor.clinic.id }}" class="button button-primary-c button-block margin-bottom-xl">
					Lihat Jadwal Klinik
				</a>
			</div>
		  <!-- SCHEDULE -->
			<div class="grid-80 mobile-grid-100">
				<div class="panel panel-info">
					<div class="panel-body">
				    <div class="table-responsive" ng-show="param.data.length">
							<table class="table table-striped" ui-table="param">
								<tr ng-repeat="shift in $data">
				          <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
									<td data-title="'Tanggal'" sortable="'date'" class="text-center">{{ shift.date.split('-').reverse().join('-') }}</td>
				          <td data-title="'Hari'" sortable="'day'" class="text-center">{{ shift.day | toDay }}</td>
				          <td data-title="'Waktu (WIB)'" sortable="'startHour'" class="text-center">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</td>
				          <td data-title="'Jumlah Antrian'" sortable="'queue'" class="text-center">{{ shift.queue }}</td>
									<td data-title="'Estimasi Waktu Konsultasi'" sortable="'time'" class="text-center">{{ shift.time | toHour }}</td>
									<td data-title="'Aksi'" class="text-center">
										<a ng-href="#/doctor/schedule/confirmation/{{ doctor.id }}${{ shift.id }}${{ shift.date | date : 'yyyyMMdd' }}" class="button button-default button-xs button-labeled" ng-hide="shift.users.indexOf(USER.id) > -1 || ['cancel','other'].indexOf(shift.notif) > -1 || shift.estimate == 'over'">
											<span class="button-label bg-primary"><i class="icon icon-compose text-clear"></i></span>
											Daftar
										</a>
										<span class="text-success" ng-show="shift.users.indexOf(USER.id) > -1 && !shift.notif">sudah terdaftar</span>
										<span class="text-error" ng-show="['cancel','other'].indexOf(shift.notif) > -1">dibatalkan</span>
										<span class="text-error" ng-show="shift.estimate == 'over'">penuh</span>
									</td>
				        </tr>
							</table>
						</div>
						<div class="text-center text-soft" ng-show="!param.data.length">Jadwal dokter tidak ditemukan.</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
