<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">Beranda</h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    under construction
  </div>
</article>
