<div class="wrapper margin-bottom-20">
  <div class="jumbotron" style="padding: 60px;
  background: #ffffff url('/images/RS/{{ hospital.banner }}') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <div class="grid-container">
    <div class="grid-60 hide-on-mobile hide-on-tablet">
      <h1>Pesan jadwal konsultasi anda sekarang juga.</h1>
      <br/>
      <h2>Kini tidak perlu lagi menunggu berjam-jam untuk memesan jadwal konsultasi dengan dokter pilihan anda.</h2>
  </div>
  <div class="grid-60 hide-on-desktop text-center">
    <h1>Pesan jadwal konsultasi anda sekarang juga.</h1>
      <br/>
      <h2>Kini tidak perlu lagi menunggu berjam-jam untuk memesan jadwal konsultasi dengan dokter pilihan anda.</h2>
    </div>
  <div class="grid-30 prefix-10">
<div class="panel panel-default margin-top-20">
  <div class="panel-heading"><h3 class="panel-title text-center"><strong>Cari Jadwal</strong></h3></div>
  <div class="panel-body bg-light-gray">
   <form class="form" name="form" ng-submit="search(data)" novalidate>
  <div class="form-group">
    <label class="control-label">Cari Klinik</label>
    <select class="form-control" name="clinic" ng-model="data.clinic" ng-change="change(data)">
      <option value="" selected>--- Pilih Klinik ---</option>
      <option ng-repeat="opt in clinics" value="{{ opt.id }}">{{ opt.name }}</option>
    </select>
    <a ng-href="/#/search/clinic/all">Lihat semua klinik</a>
  </div>
  <div class="form-group">
    <label class="control-label">Cari Dokter</label>
    <auto-complete pause="100" local-data="doctors" selected-object="data.doctor" search-fields="title,name" title-field="title,name" minlength="1" input-class="form-control" placeholder="Cari Dokter"></auto-complete>
    <a ng-href="/#/search/doctor/all">Lihat semua dokter</a>
  </div>
  <div class="text-center margin-bottom-10">
  <button class="button button-primary-c button-labeled buttons" type="submit">
  <span class="button-label"><i class="icon icon-android-calendar"></i></span>
              Lihat Jadwal
  </button>
  </div>
</form>
  </div>
</div>
  </div>
</div>
</div>

  <div class="grid-container margin-top-10 margin-bottom-40">
    <div class="margin-vertical-xl">
    <div class="grid-60 hide-on-mobile hide-on-tablet">
      <h1>Ingin proses pemesanan jadwal anda lebih cepat?</h1>
    </div>
    <div class="grid-50 hide-on-desktop text-center">
      <h1>Ingin proses pemesanan jadwal anda lebih cepat?</h1>
    </div>
    <div class="grid-30 prefix-10 text-center">
      <a class="margin-top-20 button button-primary-c button-labeled button-large buttons" ng-href="#/login">
            <span class="button-label"><i class="icon icon-compose"></i></span>
              Daftar / Login
  </a>
    </div>
  </div>
  </div>
  <hr/>
  <div class="margin-top-50">
    <div class="grid-container">
      <div class="margin-vertical-xl text-center">
        <h1 class="margin-bottom-xl">HANYA 4 LANGKAH</h1>
        <h2>Pesan jadwal konsultasi kini lebih mudah dan bisa dilakukan dari rumah</h2>
        <div class="margin-vertical-xl">
          <div class="grid-25">
            <img ng-src="images/pesan.png" title="Pilih Jadwal" class="img-circle margin-vert-20">
            <h3>1. Pilih Jadwal</h3>
            <p>Pilih jadwal konsultasi Anda melalui portal ini. Cari klinik atau dokter pilihan anda.</p>
          </div>
          <hr class="ruler-light hide-on-desktop">
          <div class="grid-25">
            <img ng-src="images/terima_pesan.png" title="Dapatkan Barcode" class="img-circle margin-vert-20">
            <h3>2. Dapatkan Barcode</h3>
            <p>Dapatkan barcode untuk digunakan saat daftar ulang guna memercepat proses pendaftaran.</p>
          </div>
          <hr class="ruler-light hide-on-desktop">
          <div class="grid-25">
            <img ng-src="images/notifications.png" title="Pantau Notifikasi" class="img-circle margin-vert-20">
            <h3>3. Pantau Notifikasi</h3>
            <p>Pantau notifikasi untuk mendapat informasi mengenai keterlambatan dokter ataupun pembatalan jadwal praktek.</p>
          </div>
          <hr class="ruler-light hide-on-desktop">
          <div class="grid-25">
            <img ng-src="images/daftar.png" title="Daftar Ulang" class="img-circle margin-vert-20">
            <h3>4. Daftar Ulang</h3>
            <p>Daftar ulang di rumah sakit kami dan anda tidak perlu mengantri lagi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
