<div class="wrapper">
  <header>
    <div class="grid-container">
      <!-- PROFILE -->
      <div class="header grid-100 margin-vert-20 text-center">
        <h1>Profil Saya</h1>
      </div>
    </div>
  </header>
  <div class="grid-container margin-vertical-xl">
    <div class="grid-50 mobile-grid-100">
      <div class="panel panel-info">
        <div class="panel-heading"><strong>Detail Akun</strong></div>
        <div class="panel-body padding-bottom-xs">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr ng-form="form">
                  <td>
                    <strong>Nama</strong>
                  </td>
                  <td>
                    <div ng-if="!form.edit">
                      {{ patient.name }}
                    </div>
                    <div ng-if="form.edit">
                      <div class="form-group" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
                        <input class="form-control input-small" type="text" name="name" ng-model="patient.name" ng-required="true">
                        <div class="margin-top-small text-error" ng-if="!form.name.$valid && form.name.$dirty">
                          <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
                        </div>
                      </div>
                      <button class="button button-primary button-xs padding-bottom-small" ng-click="save(patient)" ng-disabled="form.$pristine || !form.$valid">simpan</button>
                      <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(patient, form)">batal</button>
                    </div>
                  </td>
                  <td class="text-right">
                    <button class="button button-link padding-none" ng-if="!form.edit" ng-click="edit(patient, form)">ubah</button>
                  </td>
                </tr>
                <tr ng-form="aform">
                  <td>
                    <strong>Email</strong>
                  </td>
                  <td>
                    <div ng-if="!aform.edit">
                      {{ patient.email }}
                    </div>
                    <div ng-if="aform.edit">
                      <div class="form-group" ng-class="{'validation-error' : aform.email.$touched && aform.email.$dirty && aform.email.$invalid}">
                        <input class="form-control input-small" type="email" name="email" ng-model="patient.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
                        <div class="margin-top-small text-error" ng-if="!aform.email.$valid && aform.email.$dirty">
                          <small ng-show="aform.email.$error.email || aform.email.$error.pattern"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
                          <small ng-show="aform.email.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
                        </div>
                      </div>
                      <button class="button button-primary button-xs padding-bottom-small" ng-click="save(patient)" ng-disabled="aform.$pristine || !aform.$valid">simpan</button>
                      <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(patient, aform)">batal</button>
                    </div>
                  </td>
                  <td class="text-right">
                    <button class="button button-link padding-none" ng-if="!aform.edit" ng-click="edit(patient, aform)">ubah</button>
                  </td>
                </tr>
                <tr ng-form="bform">
                  <td>
                    <strong>Password</strong>
                  </td>
                  <td>
                    <div ng-if="!bform.edit" class="text-soft">
                      diubah pada <small>{{ patient.auth[0].updatedAt | date : 'HH:mm:ss dd/MM/yyyy' }}</small>
                    </div>
                    <div ng-if="bform.edit">
                      <div class="form-group" ng-class="{'validation-error' : bform.password.$touched && bform.password.$dirty && bform.password.$invalid}">
                        <input class="form-control input-small" type="password" name="password" placeholder="Password Sekarang" ng-model="patient.current" ng-required="true">
                        <div class="margin-top-small text-error" ng-if="bform.password.$touched && bform.password.$dirty">
                          <small ng-show="bform.password.$error.required"><i class="icon icon-ios-close-outline"></i> Password Sekarang harus diisi</small>
                        </div>
                      </div>
                      <div class="form-group" ng-class="{'validation-error' : bform.passwordd.$touched && bform.passwordd.$dirty && bform.passwordd.$invalid}">
                        <input class="form-control input-small" type="password" name="passwordd" placeholder="Password Baru" ng-model="patient.password" ng-minlength="6" ng-required="true">
                        <div class="margin-top-small text-error" ng-if="bform.passwordd.$touched && bform.passwordd.$dirty">
                          <small ng-show="bform.passwordd.$error.minlength"><i class="icon icon-ios-close-outline"></i> Password tidak boleh kurang dari 6 karakter</small>
                          <small ng-show="bform.passwordd.$error.required"><i class="icon icon-ios-close-outline"></i> Password Baru harus diisi</small>
                        </div>
                      </div>
                      <div class="form-group" ng-class="{'validation-error' : bform.passworddd.$touched && bform.passworddd.$dirty && bform.passworddd.$invalid}">
                        <input class="form-control input-small" type="password" name="passworddd" placeholder="Konfirmasi Password Baru" ng-model="patient.confirm" ng-required="true">
                        <div class="margin-top-small text-error" ng-if="bform.passworddd.$touched && bform.passworddd.$dirty">
                          <small ng-show="bform.passworddd.$error.required"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password Baru harus diisi</small>
                        </div>
                      </div>
                      <button class="button button-primary button-xs padding-bottom-small" ng-click="asave(patient)" ng-disabled="bform.$pristine || !bform.$valid">simpan</button>
                      <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(patient, bform)">batal</button>
                    </div>
                  </td>
                  <td class="text-right">
                    <button class="button button-link padding-none" ng-if="!bform.edit" ng-click="edit(patient, bform)">ubah</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading"><strong>Nomor Identitas</strong></div>
        <div class="panel-body padding-bottom-xs">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr ng-form="cform">
                  <td>
                    <strong>Nomor Telepon</strong>
                  </td>
                  <td>
                    <div ng-if="!cform.edit">
                      {{ patient.phone }}
                    </div>
                    <div ng-if="cform.edit">
                      <div class="form-group" ng-class="{'validation-error' : cform.phone.$touched && cform.phone.$dirty && cform.phone.$invalid}">
                        <input class="form-control" type="text" name="phone" ng-model="patient.phone" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="15" ng-required="true" autocomplete="off">
                        <div class="margin-top-small text-error" ng-if="cform.phone.$touched && cform.phone.$dirty">
                          <small ng-show="cform.phone.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus berupa angka</small>
                          <small ng-show="cform.phone.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh kurang dari 5 karakter</small>
                          <small ng-show="cform.phone.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh lebih dari 15 karakter</small>
                          <small ng-show="cform.phone.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus diisi</small>
                        </div>
                      </div>
                      <button class="button button-primary button-xs padding-bottom-small" ng-click="save(patient)" ng-disabled="cform.$pristine || !cform.$valid">simpan</button>
                      <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(patient, cform)">batal</button>
                    </div>
                  </td>
                  <td class="text-right">
                    <button class="button button-link padding-none" ng-if="!cform.edit" ng-click="edit(patient, cform)">ubah</button>
                  </td>
                </tr>
                <tr ng-form="dform">
                  <td>
                    <strong>Nomor KTP</strong>
                  </td>
                  <td>
                    <div ng-if="!dform.edit">
                      {{ patient.ktp }}
                    </div>
                    <div ng-if="dform.edit">
                      <div class="form-group" ng-class="{'validation-error' : dform.ktp.$touched && dform.ktp.$dirty && dform.ktp.$invalid}">
                        <textarea class="form-control" name="ktp" ng-model="patient.ktp" ng-pattern="/^[0-9]+$/" ng-required="true" autocomplete="off">{{ patient.ktp }}</textarea>
                        <div class="margin-top-small text-error" ng-if="dform.ktp.$touched && dform.ktp.$dirty">
                          <small ng-show="dform.ktp.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor KTP harus berupa angka</small>
                          <small ng-show="dform.ktp.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor KTP harus diisi</small>
                        </div>
                      </div>
                      <button class="button button-primary button-xs padding-bottom-small" ng-click="save(patient)" ng-disabled="dform.$pristine || !dform.$valid">simpan</button>
                      <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(patient, dform)">batal</button>
                    </div>
                  </td>
                  <td class="text-right">
                    <button class="button button-link padding-none" ng-if="!dform.edit" ng-click="edit(patient, dform)">ubah</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-50 mobile-grid-100">
      <div class="panel panel-info">
        <div class="panel-heading">
          <strong>Identitas Pribadi</strong>
          <span class="pull-right">
            <button class="button button-link padding-none" ng-if="!eform.edit" ng-click="edit(patient, eform)">ubah</button>
          </span>
        </div>
        <div class="panel-body padding-bottom-small">
          <form class="form-horizontal padding-medium" name="eform" ng-submit="save(patient)" novalidate>
            <div class="form-group margin-bottom-xs">
              <label class="grid-25 control-label">Tanggal Lahir</label>
              <div class="grid-70" ng-if="!eform.edit">
                <p class="form-control-static">{{ patient.birthdate | date : 'dd-MM-yyyy' }}</p>
              </div>
              <div class="grid-70 padding-right-none margin-right--10" ng-if="eform.edit">
                <div class="padding-left-small">
                  <date-picker name="birthdate" ng-model="patient.birthdate"></date-picker>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="grid-25 control-label">Jenis Kelamin</label>
              <div class="grid-70">
                <p class="form-control-static" ng-if="!eform.edit">{{ patient.gender === 'M' ? 'Laki-Laki' : 'Perempuan' }}</p>
                <div class="padding-vertical-small" ng-if="eform.edit">
                  <input name="gender" type="radio" value="M" ng-model="patient.gender"> <span class="margin-right-small margin-vertical-xs">Laki-Laki</span>
                  <input name="gender" type="radio" value="F" ng-model="patient.gender"> Perempuan
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="grid-25 control-label">Alamat</label>
              <div class="grid-70" ng-class="{'validation-error' : eform.address.$touched && eform.address.$dirty && eform.address.$invalid}">
                <p class="form-control-static" ng-if="!eform.edit">{{ patient.address[0].address }}</p>
                <textarea class="form-control" name="address" ng-model="patient.address[0].address" ng-if="eform.edit" ng-required="true">{{ patient.address[0].address }}</textarea>
                <div class="margin-top-small text-error" ng-if="eform.address.$touched && eform.address.$dirty">
                  <small ng-show="eform.address.$error.required"><i class="icon icon-ios-close-outline"></i> Alamat harus diisi</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="grid-25 control-label">Kab / Kota</label>
              <div class="grid-70" ng-class="{'validation-error' : eform.$error.autocomplete && eform.$dirty && eform.$invalid}">
                <p class="form-control-static" ng-if="!eform.edit">{{ patient.address[0].city.name }}</p>
                <div ng-if="eform.edit">
                  <auto-complete pause="100" local-data="city" selected-object="patient.address[0].city.name" search-fields="name" title-field="name" minlength="3" input-class="form-control" field-required="true" field-required-class="autocomplete" initial-value="{{ patient.address[0].city.name }}" focus-out="fcity(patient.address[0].city)" id="city"></auto-complete>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="grid-25 control-label">Provinsi</label>
              <div class="grid-70">
                <p class="form-control-static" ng-if="!eform.edit">{{ patient.address[0].city.province.name }}</p>
                <div ng-if="eform.edit">
                  <input class="form-control" type="text" name="province" ng-model="patient.address[0].city.province.name" readonly>
                  <!-- <auto-complete pause="100" local-data="province" selected-object="patient.address[0].city.province.name" search-fields="name" title-field="name" minlength="3" input-class="form-control" initial-value="{{ patient.address[0].city.province.name }}" id="province"></auto-complete> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="grid-25 control-label">Negara</label>
              <div class="grid-70">
                <p class="form-control-static" ng-if="!eform.edit">{{ patient.address[0].city.province.country.name }}</p>
                <div ng-if="eform.edit">
                  <input class="form-control" type="text" name="country" ng-model="patient.address[0].city.province.country.name" readonly>
                  <!-- <auto-complete pause="100" local-data="country" selected-object="patient.address[0].city.province.country.name" search-fields="name" title-field="name" minlength="1" input-class="form-control" initial-value="{{ patient.address[0].city.province.country.name }}" id="country"></auto-complete> -->
                </div>
              </div>
            </div>
            <div class="form-group">
    					<div class="prefix-25 grid-70">
                <button class="button button-primary button-xs" type="submit" ng-if="eform.edit" ng-disabled="eform.$invalid">simpan</button>
                <button class="button button-default button-xs" type="reset" ng-if="eform.edit" ng-click="cancel(patient, eform)">batal</button>
    					</div>
    				</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
