<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Pasien
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
    <table class="table table-striped" ui-table="param" show-filter="true">
      <tr ng-repeat="patient in $data" ng-form="form">
        <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
				<td data-title="'Nama'" sortable="'name'" filter="{ 'name':'text' }" ng-switch="patient.isEditing">
          <span ng-switch-default>
            {{ patient.name }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$invalid && form.name.$dirty}">
              <input class="form-control" type="text" name="name" ng-model="patient.name" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.name.$touched && form.name.$dirty">
                <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
                <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
                <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
              </div>
            </div>
        </td>
        <td data-title="'Email'" sortable="'email'" filter="{ 'email':'text' }" ng-switch="patient.isEditing">
          <span ng-switch-default>
            {{ patient.email }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$invalid && form.name.$dirty}">
            <input class="form-control" type="email" name="email" ng-model="patient.email" ng-maxlength="45" ng-required="true" autocomplete="off">
                <div class="margin-top-small text-error" ng-if="!form.email.$valid && form.email.$dirty">
                  <small ng-show="form.email.$error.email"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
                  <small ng-show="form.email.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Email tidak boleh lebih dari 45 karakter</small>
                  <small ng-show="form.email.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
                </div>
          </div>
        </td>
				<td data-title="'Tanggal Lahir'" sortable="'birthday'" filter="{ 'birthdate':'text' }" ng-switch="patient.isEditing">
          <span ng-switch-default>
            {{ patient.birthdate | Date }}
          </span>
          <div ng-switch-when="true">
          <date-picker name="birthdate" ng-model="patient.birthdate"></date-picker>
        </div>
        </td>
				<td data-title="'Usia(Tahun)'" sortable="'age'" filter="{ 'age':'text' }" ng-switch="patient.isEditing">
          <span ng-switch-default>
            {{ patient.age }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$invalid && form.name.$dirty}">
            <input class="form-control" type="text" name="age" ng-model="patient.age" ng-pattern="/^[0-9\ ]+$/" ng-minlength="1" ng-maxlength="2" ng-required="true" autocomplete="off">
                <div class="margin-top-small text-error" ng-if="!form.age.$valid && form.age.$dirty">
                  <small ng-show="form.age.$error.pattern"><i class="icon icon-ios-close-outline"></i> Umur harus berupa angka</small>
                  <small ng-show="form.age.$error.minlength"><i class="icon icon-ios-close-outline"></i> Umur tidak boleh kurang dari 1 angka</small>
                  <small ng-show="form.age.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Umur tidak boleh lebih dari 2 angka</small>
                  <small ng-show="form.age.$error.required"><i class="icon icon-ios-close-outline"></i> Umur harus diisi</small>
                </div>
          </div>
        </td>
				<td data-title="'Jenis Kelamin'" sortable="'gender'" filter="{ 'gender':'text' }" ng-switch="patient.isEditing">
          <span ng-switch-default>
            {{ patient.gender=='M' ? 'Laki- laki' : patient.gender=='F' ? 'Perempuan' : '-'}}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.gender.$touched && form.gender.$dirty && form.gender.$invalid}">
          <select ng-model="patient.gender" class="form-control" ng-required="true">
                <option value="M">Laki- laki</option>
                <option value="F">Perempuan</option>
              </select>
            </div>
           <div class="margin-top-small text-error" ng-if="form.gender.$touched && form.gender.$dirty">
              <small ng-show="form.gender.$error.required"><i class="icon icon-ios-close-outline"></i> Jenis Kelamin harus dipilih</small>
          </div>
        </td>
				<td data-title="'Telepon'" sortable="'phone'" filter="{ 'phone':'text' }" ng-switch="patient.isEditing">
          <span ng-switch-default>
            {{ patient.phone }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$invalid && form.name.$dirty}">
          <input class="form-control" type="text" name="phone" ng-model="patient.phone" ng-pattern="/^[0-9\ ]+$/" ng-minlength="5" ng-maxlength="15" ng-required="true" autocomplete="off">
                <div class="margin-top-small text-error" ng-if="!form.phone.$valid && form.phone.$dirty">
                  <small ng-show="form.phone.$error.pattern"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus berupa angka</small>
                  <small ng-show="form.phone.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh kurang dari 5 karakter</small>
                  <small ng-show="form.phone.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nomor telepon tidak boleh lebih dari 15 karakter</small>
                  <small ng-show="form.phone.$error.required"><i class="icon icon-ios-close-outline"></i> Nomor telepon harus diisi</small>
                </div>
              </div>
        </td>
        <td data-title="'Aksi'" class="text-center text-nowrap">
            <a class="button button-default button-labeled button-xs" ng-if="!patient.isEditing" ng-href="#/patient/{{patient.id}}">
              <span class="button-label bg-success"><i class="icon icon-eye text-clear"></i></span>
              lihat
            </a>
            <a class="button button-default button-labeled button-xs" ng-if="!patient.isEditing" ng-click="edit(patient)">
              <span class="button-label bg-vibrant"><i class="icon icon-compose text-clear"></i></span>
              ubah
            </a>

            <a class="button button-default button-labeled button-xs" ng-if="!patient.isEditing" ng-click="delete(patient)">
              <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
              hapus
            </a>
            <a class="button button-primary button-labeled" ng-if="patient.isEditing" ng-disabled="form.$pristine || form.$invalid" ng-click="save(patient)">
              <span class="button-label"><i class="icon icon-checkmark"></i></span>
              simpan
            </a>
            <a class="button button-default button-labeled" ng-if="patient.isEditing" ng-click="cancel(patient, form)">
              <span class="button-label"><i class="icon icon-close"></i></span>
              batal
            </a>
          </td>
      </tr>
    </table>
  </div>
  <div class="text-center" ng-show="!param.data.length">
    <h3 class="margin-vertical-xl text-soft">Data Pasien tidak ditemukan.</h3>
  </div>
</article>
