<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Pasien
      <span class="pull-right">
        <a class="button button-default button-labeled" ng-href="#/patient">
          <span class="button-label"><i class="icon text-clear"></i></span>
          Kembali
        </a>
      </span>
    </h2>

  </div>
</header>
<ul class="list-unstyled">
        <li><p class="help-block">Nama Lengkap : {{ patient.name }}</p></li>
        <li><p class="help-block">Tgl Lahir : {{ patient.birthdate | Date}}</p></li>
</ul>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
      <table class="table table-striped" ui-table="param">
        <tr ng-repeat="booking in $data">
          <td data-title="'#'"class="text-center" >{{ $index+1 }}</td>
          <td data-title="'Kode Pemesanan'">{{ booking.schedule.date | date : 'ddMMyy' }}{{ booking.schedule.shift.doctor.clinic.id.toString().length < 3 ? booking.schedule.shift.doctor.clinic.id.toString().length < 2 ? '00' : '0' : '' }}{{ booking.schedule.shift.doctor.clinic.id }}{{ booking.schedule.shift.doctor.id.toString().length < 3 ? booking.schedule.shift.doctor.id.toString().length < 2 ? '00' : '0' : '' }}{{ booking.schedule.shift.doctor.id }}{{ booking.number.toString().length < 2 ? '0' : '' }}{{ booking.number }}</td>
          <td data-title="'Shift'" sortable="'schedule.shift.startHour'" class="text-center">{{ booking.schedule.shift.startHour | toHour }} - {{ booking.schedule.shift.endHour | toHour }}</td>
          <td data-title="'Dokter'" sortable="'schedule.shift.doctor.name'" class="text-center">{{ booking.schedule.shift.doctor.name | lowercase }}, {{ booking.schedule.shift.doctor.title }}</td>
          <td data-title="'Klinik'" sortable="'schedule.shift.doctor.clinic.name'" class="text-center">{{ booking.schedule.shift.doctor.clinic.name }}</td>
          <td data-title="'Waktu Pesan'" sortable="'createdAt'" class="text-center">{{ booking.createdAt | toDate }}</td>
        </tr>
      </table>
    </div>
    <div class="text-center" ng-show="!param.data.length">
      <h3 class="margin-vertical-xl text-soft">History pasien tidak ditemukan.</h3>
    </div>
  </div>
</article>
