<div class="wrapper">
  <header>
    <div class="header">
      <div class="grid-container padding-vertical-xl">
        <div class="grid-50">Bantuan & Informasi</div>
      </div>
    </div>
  </header>

  <article>
  <div class="grid-container">
  <div class="grid-70 margin-top-50">
      <div class="panel panel-info" ng-show="help">
      			<div class="panel-heading">
      				<h4>{{ help.content }}</h4>
      			</div>
            <div class="panel-body">
                <p>{{ help.answer }}</p>
            </div>
       </div>
  </div>
	</div>
 	</article>
</div>