<div class="wrapper">
  <header>
    <div class="header">
      <div class="grid-container padding-vertical-xl">
        <div class="grid-50">Bantuan & Informasi</div>
      </div>
    </div>
  </header>

  <article>
  <div class="grid-container">
  <div class="grid-70 margin-top-50">
      <div class="panel panel-info">
      			<div class="panel-heading">
      				<h4>Cara Kerja</h4>
      			</div>
            <div class="panel-body">
                <ul>
                	<li ng-repeat="help in helps | filter:{id : 1}:true"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                  <li ng-repeat="help in helps | filter:{id : 2}:true"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                  <li ng-repeat="help in helps | filter:{id : 3}:true"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                </ul>
            </div>
       </div>
       <div class="panel panel-info">
      			<div class="panel-heading">
      				<h4>Buat Akun</h4>
      			</div>
            <div class="panel-body">
                <ul>
                  <li ng-repeat="help in helps | filter:{id : 4}:true"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                  <li ng-repeat="help in helps | filter:{id : 5}:true"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                </ul>
            </div>
       </div>
       <div class="panel panel-info">
      			<div class="panel-heading">
      				<h4>Daftar Ulang</h4>
      			</div>
            <div class="panel-body">
                <ul>
                  <li ng-repeat="help in helps | filter:{id : 6}:true"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                  <li ng-repeat="help in helps | filter:{id : 7}:true"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                </ul>
            </div>
       </div>
       <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Lain lain</h4>
            </div>
            <div class="panel-body">
                <ul>
                  <li ng-repeat="help in helps | filter:{email: '' }"><a ng-href="#/help/{{ help.id }}">{{ help.content }}</a></li>
                </ul>
            </div>
       </div>
  </div>
  <div class="grid-30 margin-top-50">
  	<div class="panel panel-primary">
  					<div class="panel-heading">
      				<h4>Kirim Pesan</h4>
      			</div>
            <div class="panel-body">
              <form class="form-horizontal" name="form" method="post" role="form" ng-submit="submit(help)" novalidate>
							  <div class="form-group" ng-class="{'validation-error' : form.title.$touched && form.title.$dirty && form.title.$invalid}">
							    <label>Judul</label>
							    <input type="text" name="title" ng-model="help.title" ng-minlength="3" ng-maxlength="20" ng-required="true" autocomplete="off" class="form-control" placeholder="Ketik Judul">
                  <div class="margin-top-small text-error" ng-if="form.title.$touched && form.title.$dirty">
                  <small ng-show="form.title.$error.minlength"><i class="icon icon-ios-close-outline"></i> Judul tidak boleh kurang dari 3 karakter</small>
                  <small ng-show="form.title.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Judul tidak boleh lebih dari 20 karakter</small>
                  <small ng-show="form.title.$error.required"><i class="icon icon-ios-close-outline"></i> Judul harus diisi</small>
            </div>
							  </div>
                <div class="form-group" ng-class="{'validation-error' : form.content.$touched && form.content.$dirty && form.content.$invalid}">
							    <label>Saran/ Pertanyaan</label>
							    <textarea class="form-control" rows="4" name="content" ng-model="help.content" ng-maxlength="255" ng-minlength="10" placeholder="Ketik Pesan Disini.."></textarea>
                  <div class="margin-top-small text-error" ng-if="form.content.$touched && form.content.$dirty">
                  <small ng-show="form.content.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Pesan tidak boleh lebih dari 255 karakter</small>
                  <small ng-show="form.content.$error.minlength"><i class="icon icon-ios-close-outline"></i> Pesan tidak boleh kurang dari 10 karakter</small>
                  </div>
							  </div>
							  <button ng-disabled="form.$pristine || form.$invalid" type="submit" class="button button-primary-c button-block">Kirim</button>
							</form>
            </div>
       </div>
       <div class="panel panel-primary">
  					<div class="panel-heading">
      				<h4>Hubungi Kami</h4>
      			</div>
            <div class="panel-body">
            	<span class="icon-android-call"></span>  {{ setting.phone }}
              <br/><span class="icon icon-email"></span>  {{ setting.email }}
            </div>
       </div>
  </div>
	</div>
 	</article>
</div>