// navbar toggle
@navbar-default-toggle-hover-bg             : darken(@navbar-default-bg, 3%);
@navbar-default-toggle-icon-bar-bg          : @accent-light;
@navbar-default-toggle-border-color         : @accent-light;

// sidebar default
@sidebar-default-bg                         : @accent-primary;
@sidebar-default-border                     : darken(@sidebar-default-bg, 3%);
@sidebar-width                              : 250px;

// sidebar links
@sidebar-default-link-color                 : @accent-light;
@sidebar-default-link-hover-color           : lighten(@sidebar-default-link-color, 20%);
@sidebar-default-link-hover-bg              : darken(@sidebar-default-bg, 3%);
@sidebar-default-link-active-color          : @sidebar-default-link-hover-color;
@sidebar-default-brand-color                : @sidebar-default-link-hover-color;
@sidebar-default-brand-hover-color          : @sidebar-default-brand-color;

// scale animations
@-webkit-keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -webkit-transform: scale(.7); }
}
@-moz-keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -moz-transform: scale(.7); }
}
@-o-keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -o-transform: scale(.7); }
}
@keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); transform: scale(.7); }
}
@-webkit-keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); }
}
@-moz-keyframes scaleUpCenter {
	from { opacity: 0; -moz-transform: scale(.7); }
}
@-o-keyframes scaleUpCenter {
	from { opacity: 0; -o-transform: scale(.7); }
}
@keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); transform: scale(.7); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
	from { transform: rotate(0deg); } to { transform: rotate(359deg); }
}
