/**
 * define new variant contrast
 */

// contrast variant
.button-variant-contrast(@color; @background;) {
  color: @color;
  border-color: @color;
  background-color: @background;

  .badge {
    color: @background;
    background-color: @color;
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.focus {
    color           : @background !important;
    background-color: @color !important;
    border-color    : @color !important;

    .badge {
      color           : @color;
      background-color: @background;
    }
  }

  .open > .dropdown-toggle& {
    color           : @background;
    background-color: @color;
    border-color    : @color;

    &:hover,
    &:focus,
    &.focus {
      color           : @background;
      background-color: @color;
      border-color    : @color;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @color;
    }
  }
}

// reverse contrast
.button-variant-contrast-reverse(@color,@background){
    .button-variant-contrast(@background,@color);
}


// contrast accent
.button-default-c {
  .button-variant-contrast(@button-contrast-default-color; @button-contrast-default-bg;);
}
.button-primary-c {
  .button-variant-contrast(@button-contrast-primary-color; @button-contrast-primary-bg;);
}
.button-success-c {
  .button-variant-contrast(@button-contrast-success-color; @button-contrast-success-bg;);
}
.button-info-c {
  .button-variant-contrast(@button-contrast-info-color; @button-contrast-info-bg;);
}
.button-warning-c {
  .button-variant-contrast(@button-contrast-warning-color; @button-contrast-warning-bg;);
}
.button-error-c {
  .button-variant-contrast(@button-contrast-error-color; @button-contrast-error-bg;);
}

// reverse contrast accent
.button-default-c-r {
  .button-variant-contrast-reverse(@button-contrast-default-color; @button-contrast-default-bg;);
}
.button-primary-c-r {
  .button-variant-contrast-reverse(@button-contrast-primary-color; @button-contrast-primary-bg;);
}
.button-success-c-r {
  .button-variant-contrast-reverse(@button-contrast-success-color; @button-contrast-success-bg;);
}
.button-info-c-r {
  .button-variant-contrast-reverse(@button-contrast-info-color; @button-contrast-info-bg;);
}
.button-warning-c-r {
  .button-variant-contrast-reverse(@button-contrast-warning-color; @button-contrast-warning-bg;);
}
.button-error-c-r {
  .button-variant-contrast-reverse(@button-contrast-error-color; @button-contrast-error-bg;);
}
