// loading bar
@loading-bar-bg                    : @accent-info;
@loading-bar-border                : @accent-info;

// Navbar default
@navbar-default-color:             #777;
@navbar-default-bg:                #0d47a1;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

//side bar
@sidebar-default-color:             #FFFAF0;
@sidebar-default-bg:                #C01820;
@sidebar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                @accent-light;
@navbar-default-link-hover-color:          #333;
@navbar-default-link-hover-bg:             transparent;

// Sidebar links
@sidebar-default-link-color:                @accent-light;
@sidebar-default-link-hover-color:          #333;
@sidebar-default-link-hover-bg:             transparent;

//panel
@panel-default-heading-bg:           #FFFFFF;


// Button
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

// By Context
@accent-primary                 : #0d47a1;
@accent-success                 : #349B02;
@accent-info                    : #FFFFFF;
@accent-warning                 : #F9FE34;
@accent-error                   : #820D32;
@accent-muted                   : lighten(@accent-neutral, 55%);

/**
* Button
*/
@button-contrast-default-color           : @accent-neutral;
@button-contrast-default-bg              : @accent-soft;

@button-contrast-primary-color           : @accent-primary;
@button-contrast-primary-bg              : @accent-light;

@button-contrast-success-color           : @accent-success;
@button-contrast-success-bg              : @accent-light;

@button-contrast-info-color              : @accent-dark;
@button-contrast-info-bg                 : @accent-light;

@button-contrast-warning-color           : @accent-warning;
@button-contrast-warning-bg              : @accent-light;

@button-contrast-error-color             : @accent-error;
@button-contrast-error-bg                : @accent-light;