#admin a:focus,
#admin a:hover,
#admin a.active:focus,
#admin button:focus,
#admin button:hover,
#admin button.active:focus {
  outline: medium none;
}
#admin nav .navbar-toggle {
  border: medium none;
  margin: 8px 0px;
  padding: 0px;
}
#admin nav .navbar-toggle > i {
  color: #fff;
  font-size: 2.5em;
}
#admin nav .navbar-toggle:hover,
#admin nav .navbar-toggle:focus,
#admin nav .navbar-toggle:active {
  background-color: transparent;
}
#admin nav .sidebar-footer {
  box-shadow: -1px -5px 15px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  width: inherit;
  z-index: 1000;
}
#admin nav .sidebar-footer .button {
  color: #c8c8c8;
  background-color: #0a3880;
}
#admin nav .sidebar-footer .button .icon {
  font-size: larger;
}
#admin nav .sidebar-footer .button:hover,
#admin nav .sidebar-footer .button:focus,
#admin nav .sidebar-footer .button:active {
  border: medium none;
  color: #ffffff;
  background-color: #0c4193;
}
#admin section {
  padding-top: 60px;
}
#admin section header {
  background-color: #45B6FD;
  color: #FFF;
}
#admin section article table td .icon {
  font-size: larger;
}
#admin section article .has-error .form-control {
  border-color: #b0125e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #25040e;
}
#admin section.ng-enter {
  -webkit-animation: scaleUpCenter 0.3s ease-out both;
  -moz-animation: scaleUpCenter 0.3s ease-out both;
  -o-animation: scaleUpCenter 0.3s ease-out both;
  animation: scaleUpCenter 0.3s ease-out both;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
}
#admin section.ng-leave {
  -webkit-animation: scaleDownCenter 0.3s ease-in both;
  -moz-animation: scaleDownCenter 0.1s ease-in both;
  -o-animation: scaleDownCenter 0.3s ease-in both;
  animation: scaleDownCenter 0.3s ease-in both;
}
#admin .img-50 {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}
#admin .icon-fixed-width {
  width: 1.28571429em !important;
  text-align: center;
}
.table-vertical-align-middle tr > td {
  vertical-align: middle !important;
}
.bg-light-gray {
  background: #F0F1F2 none repeat scroll 0% 0%;
	-moz-transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.bg-light-gray-h:hover,
.bg-light-gray-h:focus {
  -webkit-box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	-moz-box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	-webkit-transform: translate3d(4px, -4px, 0);
	-moz-transform: translate3d(4px, -4px, 0);
	-ms-transform: translate3d(4px, -4px, 0);
	-o-transform: translate3d(4px, -4px, 0);
	transform: translate3d(4px, -4px, 0);
}
.padding-none {
  padding: 0px !important;
}
.loading {
  position: fixed;
  bottom: 7px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 2.5px rgba(0, 0, 0, 0.25) solid;
  border-top: 2.5px #ff5400 solid;
  border-bottom: 2.5px #ff5400 solid;
  border-radius: 50%;
  -webkit-animation: spin .4s infinite linear;
  -moz-animation: spin .4s infinite linear;
  -ms-animation: spin .4s infinite linear;
  -o-animation: spin .4s infinite linear;
  animation: spin .4s infinite linear;
}
.thumbnail {
  position: relative;
  width: auto;
  height: 243px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 0%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,0%);
  -moz-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  -o-transform: translate(-50%,0%);
  transform: translate(-50%,0%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 520px) {
  #admin .desktop-height-80 {
    height: 80px !important;
  }
}
@media (min-width: 780px) {
  #admin .grid-13 {
    float: left;
    width: calc(93.33% / 7);
  }
  .img-grid-25 {
    min-height: 243px !important;
    height: 243px !important;
  }
}
@media (min-width: 520px) and (max-width: 780px) {
  #admin .tablet-grid-13 {
    float: left;
    width: 13.335%;
  }
}
@media (max-width: 520px) {
  #admin .mobile-grid-13 {
    float: left;
    width: 13.335%;
  }
}
@-moz-document url-prefix() {
  .button-moz-fix {
    padding: 5px 12px !important;
  }
}
