.margin-top-20 {margin-top:20px;}

.stopwatch {
  margin-bottom: 5%;
}
@media screen and (min-width: 520px) {
  .stopwatch {
    font-size: 15em;
  }
}
@media (min-width: 780px) {
  .stopwatch {
    font-size: 15em;
  }
}
@media (min-width: 520px) and (max-width: 780px) {
  .stopwatch {
    font-size: 10em;
  }
}
@media (max-width: 520px) {
  .stopwatch {
    font-size: 5em;
  }
}
