/*ACCENT*/
.margin-top-10 {margin-top:10px;}
.margin-top-15 {margin-top:15px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-top-20 {margin-top:20px;}
.margin-top-50 {margin-top:50px;}
.margin-vert-10 {margin:10px 0 10px 0;}
.margin-vert-20 {margin:20px 0 20px 0;}
.margin-vert-50 {margin:50px 0 50px 0;}
.padding-10: {padding: 10px;}
.padding-25: {padding: 25px;}
.padding-50: {padding: 50px;}
/*HOME CSS*/
.wrapper {
	margin-top: -20px !important;
}
h1,
h3,
.h1,
.h3{
  font-family: 'raleway-bold-webfont';
}
a.color:hover, a.color:active {color: white;}

.bg-light-gray{
	background: white;
}
.button-primary-c{
	background-color: white;
}

.lato-bold{
	font-family: 'lato-bold-webfont';	
}
h2,
p,
.h2{
	font-family: 'raleway-regular-webfont';
}

.buttons{
	font-family: 'raleway-medium-webfont';
	text-transform: uppercase;	
}
a{
	font-family: 'lato-bold-webfont';
}
button{
	font-family: 'raleway-medium-webfont';
}
.bg-light {
	padding: 60px;
	background: #ffffff url("/images/Mary_Cileungsi.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*HEADER PAGE*/
header {
  background-color: #c5cae9;
}
header .header {
  font-size: 22px;
	font-weight: 120;
}
/*PANEL*/
.panel {
	background-color: transparent;
}
.padding-right-none {
	padding-right: 0px !important;
}
.margin-right--10 {
	margin-right: -10px !important;
}
.images {
	width: 200px;
	height: 200px;
}
.text-larger {
	font-size: larger !important;
}

