<div class="grid-container">
  <h3 class="margin-vertical-xs">Buat Notifikasi</h3>
  <hr class="margin-bottom-xs ruler-light">
  <div class="panel panel-info">
    <div class="panel-body">
    	<div class="grid-60 mobile-grid-100 push-20">
  			<div class="table-responsive">
          <table class="table table-hover" ng-form="form">
          <div ng-if="condition">
            <tbody>
              <tr>
                <td>
                	<h4><strong>Jadwal Klinik</strong></h4>
                </td>
                <td>
                  <h4><strong>{{ nurse.clinic.name }}</strong></h4>
                </td>
              </tr>
              <tr>
              	<td>
              		<strong>Pilih Jadwal Dokter</strong>
              	</td>
              	<td>
              		<div class="form-group" ng-class="{'validation-error' : form.doctor.$touched && form.doctor.$dirty && form.doctor.$invalid}">
              		<select class="form-control input-small" name="doctor" ng-model="notif.doctor" ng-required="true">
									<option></option>
									<option ng-repeat="doctor in doctors | filter:{clinic : nurse.clinic.id}:true" value="{{ doctor.id }}">{{ doctor.name | lowercase }}, {{ doctor.title }}</option>
									</select>
									<div class="margin-top-small text-error" ng-if="form.doctor.$touched && form.doctor.$dirty">
		              <small ng-show="form.doctor.$error.required"><i class="icon icon-ios-close-outline"></i> Dokter harus di pilih</small>
		            	</div>
              		</div>
              	</td>
              </tr>
              <tr>
                <td>
                  <strong>Pilih Hari</strong>
                </td>
                <td>
                  <div class="form-group" ng-class="{'validation-error' : form.day.$touched && form.day.$dirty && form.day.$invalid}">
                  <select class="form-control input-small" name="day" ng-model="notif.day" ng-required="true">
                  <option></option>
                  <option value="1">Senin</option>
                  <option value="2">Selasa</option>
                  <option value="3">Rabu</option>
                  <option value="4">Kamis</option>
                  <option value="5">Jum'at</option>
                  <option value="6">Sabtu</option>
                  <option value="7">Minggu</option>
                  </select>
                  <div class="margin-top-small text-error" ng-if="form.day.$touched && form.day.$dirty">
                  <small ng-show="form.day.$error.required"><i class="icon icon-ios-close-outline"></i> Hari harus di pilih</small>
                  </div>
                  </div>
                </td>
              </tr>
              <tr>
              	<td>
              		<strong>Pilih Tanggal</strong>
              	</td>
              	<td>
              		<div class="form-group" ng-class="{'validation-error' : form.date.$touched && form.date.$dirty && form.date.$invalid}">
                  <date-picker name="date" ng-model="notif.date" ng-required="true"></date-picker>
                	<div class="margin-top-small text-error" ng-if="form.date.$touched && form.date.$dirty">
		              <small ng-show="form.date.$error.required"><i class="icon icon-ios-close-outline"></i> Tanggal harus di pilih</small>
		            	</div>
              		</div>
              	</td>
              </tr>
              <tr>
                <td>
                  <strong>Pilih Shift</strong>
                </td>
                <td>
                  <div class="form-group" ng-class="{'validation-error' : form.shift.$touched && form.shift.$dirty && form.shift.$invalid}">
                  <select class="form-control input-small" name="shift" ng-model="notif.shift" ng-required="true">
                  <option></option>
                  <option ng-repeat="shift in shifts | filter:{day : notif.day, doctor : notif.doctor}" value="{{ shift.id }}">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</option>
                  </select>
                  <div class="margin-top-small text-error" ng-if="form.shift.$touched && form.shift.$dirty">
                  <small ng-show="form.shift.$error.required"><i class="icon icon-ios-close-outline"></i> Shift harus di pilih</small>
                  </div>
                  </div>
                </td>
              </tr>
              <tr>
              	<td>
              		<strong>Topik</strong>
              	</td>
              	<td>
              		<div class="form-group" ng-class="{'validation-error' : form.topic.$touched && form.topic.$dirty && form.topic.$invalid}">
              		<select class="form-control input-small" name="topic" ng-model="notif.topic" ng-required="true">
									<option></option>
									<option value="delay">Keterlambatan</option>
									<option value="cancel">Pembatalan</option>
									<option value="other">Lain-Lain</option>
									</select>
									<div class="margin-top-small text-error" ng-if="form.topic.$touched && form.topic.$dirty">
		              <small ng-show="form.topic.$error.required"><i class="icon icon-ios-close-outline"></i> Topik notifikasi harus di pilih</small>
		            </div>
              		</div>
              	</td>
              </tr>
              <tr ng-if=" notif.topic == 'delay'">
              	<td>
              		<strong>Durasi (Menit)</strong>
              	</td>
              	<td>
              		<div class="form-group" ng-class="{'validation-error' : form.duration.$touched && form.duration.$dirty && form.duration.$invalid}">
              		<input class="form-control" name="duration" placeholder="60" ng-model="notif.duration" ng-pattern="/^[0-9]+$/" ng-minlength="1" ng-maxlength="3">
		              <div class="margin-top-small text-error" ng-if="form.duration.$dirty && !form.duration.$valid">
		                <small ng-show="form.duration.$error.pattern"><i class="icon icon-ios-close-outline"></i> Durasi harus berupa angka</small>
		                <small ng-show="form.duration.$error.minlength"><i class="icon icon-ios-close-outline"></i> Durasi tidak boleh kurang dari 1 angka</small>
		                <small ng-show="form.duration.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Durasi tidak boleh lebih dari 3 angka</small>
		              </div>
              		</div>
              	</td>
              </tr>
              <tr>
              	<td>
              		<strong>Pesan</strong>
              	</td>
              	<td>
              		<div class="form-group" ng-class="{'validation-error' : form.content.$touched && form.content.$dirty && form.content.$invalid}">
              		<textarea class="form-control input-small" placeholder="Mohon maaf jadwal yang anda pesan dibatalkan dikarenakan dokter berhalangan hadir. Silahkan cari jadwal lain yang anda inginkan. Atau jika ada keterlambatan bisa memberi alasan dari keterlambatan tersebut (karena pesan estimasi terbaru udah dibuat secara otomatis)" tooltip="Keterangan Pemberitahuan" tooltip-placement="top" tooltip-trigger="mouseenter" ng-required="true" rows="5" name="content" ng-model="notif.content" ng-maxlength="255" ng-minlength="10"></textarea>
									<div class="margin-top-small text-error" ng-if="form.content.$touched && form.content.$dirty">
		              <small ng-show="form.content.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Keterangan tidak boleh lebih dari 255 karakter</small>
		              <small ng-show="form.content.$error.minlength"><i class="icon icon-ios-close-outline"></i> Keterangan tidak boleh lebih dari 10 karakter</small>
		            	</div>
              		</div>
              	</td>
              </tr>
              <tr>
              	<td>
              	</td>
              	<td>
              		<div class="form-group">
              			<button class="button button-primary button-labeled" ng-click="submit(notif)" ng-disabled="form.$pristine || form.$invalid">
			              <span class="button-label"><i class="icon icon-checkmark"></i></span>
			              Simpan
			            	</button>
										<button class="button button-default button-labeled" ng-click="reset(notif)">
			              <span class="button-label"><i class="icon icon-refresh"></i></span>
			              Reset
			            	</button>
              		</div>
              	</td>
              </tr>
            </tbody>
            </div>
          </table>
        </div>
      </div>
    </div>
   </div>
</div>