<div class="clearfix">
  <div class="grid-70 tablet-grid-100 mobile-grid-100"><h3 class="margin-vertical-xs">Antrian</h3></div>
  <div class="grid-30 tablet-grid-100 mobile-grid-100">
    <form class="form-horizontal" ng-submit="submit()" novalidate>
      <div class="form-group margin-bottom-xs">
        <label class="grid-25 tablet-grid-45 mobile-grid-20 control-label text-right">Tanggal</label>
        <div class="grid-55 tablet-grid-40 mobile-grid-65 padding-right-none margin-right--10">
          <div class="padding-left-small">
            <date-picker name="idate" ng-model="idate"></date-picker>
          </div>
        </div>
        <div class="grid-20 tablet-grid-15 mobile-grid-15 padding-none">
          <button type="submit" class="button button-block button-default-c button-moz-fix">
            <i class="icon icon-search text-info"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="margin-vertical-xs margin-horizontal-small ruler-light">
<div ng-show="nurse.shifts.length">
  <div class="grid-25 margin-vertical-xl clearfix" ng-repeat="data in nurse.shifts">
    <div class="panel panel-info bg-light-gray-h equal-height" ng-click="goto(data.id)">
      <div class="panel-body padding-none">
        <div class="thumbnail bg-clear">
          <img class="img-responsive portrait" ng-src="{{ IMAGE.PATH }}{{ data.doctor.picture | noImage }}" width="100%">
        </div>
        <hr class="margin-vertical-xs ruler-light">
        <div class="padding-medium">
          <strong>Nama:</strong>
          <p class="margin-bottom-large">{{ data.doctor.name | lowercase }}, {{ data.doctor.title }}</p>
          <strong>Keterangan:</strong>
          <p class="text-justify margin-bottom-large">{{ data.doctor.desc }}</p>
          <strong>Shift:</strong>
          <p class="margin-bottom-large">{{ data.startHour | date : 'HH:mm' }}-{{ data.endHour | date : 'HH:mm' }} WIB</p>
          <strong>Jumlah Antrian:</strong>
          <p>{{ data.schedule.queues.length }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-100" ng-show="!nurse.shifts.length">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="text-center text-soft">
        Jadwal tidak ditemukan.
      </div>
    </div>
  </div>
</div>
