<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Perawat
      <span class="pull-right">
        <a class="button button-default button-labeled" ng-href="#/nurse/create">
          <span class="button-label bg-primary"><i class="icon icon-plus text-clear"></i></span>
          Tambah
        </a>
      </span>
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
    <table class="table table-striped" ui-table="param" show-filter="true">
			<tr ng-repeat="nurse in $data" ng-form="form">
				<td data-title="'#'" class="text-center">{{ $index+1 }}</td>
				<td data-title="'Nama'" sortable="'name'" filter="{ 'name':'text' }" ng-switch="nurse.isEditing">
          <span ng-switch-default>
            {{ nurse.user.name }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
            <input class="form-control" type="text" name="name" placeholder="Nama" ng-model="nurse.user.name" ng-minlength="3" ng-maxlength="45" ng-required="true">
            <div class="margin-top-small text-error" ng-if="form.name.$touched && form.name.$dirty">
              <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
              <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
              <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
            </div>
          </div>
        </td>
				<td data-title="'Email'" sortable="'email'" filter="{ 'email':'text' }" ng-switch="nurse.isEditing">
          <span ng-switch-default>
            {{ nurse.user.email }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
            <input class="form-control" type="email" name="email" placeholder="Email" ng-model="nurse.user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off">
            <div class="margin-top-small text-error" ng-if="form.email.$touched && form.email.$dirty">
              <small ng-show="form.email.$error.email || form.email.$error.pattern"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
              <small ng-show="form.email.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Email tidak boleh lebih dari 45 karakter</small>
              <small ng-show="form.email.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
            </div>
          </div>
        </td>
				<td data-title="'Klinik'" sortable="'clinic.name'" ng-switch="nurse.isEditing">
          <span ng-switch-default>
            {{ nurse.clinic.name }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.clinic.$touched && form.clinic.$dirty && form.clinic.$invalid}">
            <select class="form-control" name="clinic" ng-model="nurse.clinic" ng-required="true" ng-options="item.name for item in clinics track by item.id"></select>
            <div class="margin-top-small text-error" ng-if="form.clinic.$touched && form.clinic.$dirty">
              <small ng-show="form.clinic.$error.required"><i class="icon icon-ios-close-outline"></i> Klinik harus dipilih</small>
            </div>
          </div>
        </td>
				<td data-title="'Aksi'" class="text-center text-nowrap">
          <a class="button button-default button-labeled button-xs" ng-if="!nurse.isEditing" ng-href="#/nurse/shift/{{ nurse.id }}">
            <span class="button-label"><i class="icon icon-clipboard"></i></span>
            shift
          </a>
          <a class="button button-default button-labeled button-xs sr-only" ng-if="!nurse.isEditing" ng-href="#/nurse/{{ nurse.id }}">
            <span class="button-label bg-success"><i class="icon icon-eye text-clear"></i></span>
            lihat
          </a>
          <a class="button button-default button-labeled button-xs" ng-if="!nurse.isEditing" ng-click="edit(nurse)">
            <span class="button-label bg-vibrant"><i class="icon icon-compose text-clear"></i></span>
            ubah
          </a>
          <a class="button button-default button-labeled button-xs" ng-if="!nurse.isEditing" ng-click="delete(nurse)">
            <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
            hapus
          </a>
          <a class="button button-primary button-labeled" ng-if="nurse.isEditing" ng-click="save(nurse)">
            <span class="button-label"><i class="icon icon-checkmark"></i></span>
            simpan
          </a>
          <a class="button button-default button-labeled" ng-if="nurse.isEditing" ng-click="cancel(nurse, form)">
            <span class="button-label"><i class="icon icon-close"></i></span>
            batal
          </a>
        </td>
			</tr>
    </table>
  </div>
  <div class="text-center" ng-show="!param.data.length">
    <h3 class="margin-vertical-xl text-soft">Data perawat tidak ditemukan.</h3>
  </div>
</article>
