<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">Tambah Data Perawat</h2>
  </div>
</header>
<article>
  <div class="grid-container margin-vertical-medium padding-vertical-xl bg-light-gray">
		<div class="grid-70 mobile-grid-100 push-10 padding-medium" ng-switch="!clinics.length">
			<form class="form-horizontal" name="form" method="post" role="form" ng-submit="submit(nurse)" ng-switch-default novalidate>
				<div class="form-group" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
					<label class="grid-20 control-label" for="name">Nama</label>
					<div class="grid-80">
						<input class="form-control" type="text" placeholder="Fulan" name="name" ng-model="nurse.name" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off" tooltip="Nama Perawat" tooltip-placement="top" tooltip-trigger="mouseenter" autofocus>
            <div class="margin-top-small text-error" ng-if="form.name.$touched && form.name.$dirty">
              <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
              <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
              <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
            </div>
					</div>
				</div>
				<div class="form-group" ng-class="{'validation-error' : form.email.$touched && form.email.$dirty && form.email.$invalid}">
					<label class="grid-20 control-label" for="email">Email</label>
					<div class="grid-80">
						<input class="form-control" type="email" name="email" tooltip="Nama Email" tooltip-placement="top" tooltip-trigger="mouseenter" placeholder="fulan@gmail.com" ng-model="nurse.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off">
            <div class="margin-top-small text-error" ng-if="form.email.$touched && form.email.$dirty">
              <small ng-show="form.email.$error.email || form.email.$error.pattern"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
              <small ng-show="form.email.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Email tidak boleh lebih dari 45 karakter</small>
              <small ng-show="form.email.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
            </div>
					</div>
				</div>
				<div class="form-group" ng-class="{'validation-error' : form.$error.autocomplete && form.$dirty && form.$invalid}">
					<label class="grid-20 control-label" for="clinic">Klinik</label>
					<div class="grid-80">
            <auto-complete pause="100" local-data="clinics" selected-object="nurse.clinic" search-fields="name" title-field="name" minlength="1" input-class="form-control" field-required="true" field-required-class="autocomplete" placeholder="Cari Klinik"></auto-complete>
					</div>
				</div>
				<div class="form-group">
					<div class="prefix-20 grid-80">
						<button class="button button-primary button-labeled" type="submit" ng-disabled="form.$pristine || form.$invalid">
              <span class="button-label"><i class="icon icon-checkmark"></i></span>
              Simpan
            </button>
						<button class="button button-default button-labeled" type="reset" ng-click="reset()" ng-disabled="form.$pristine">
              <span class="button-label"><i class="icon icon-refresh"></i></span>
              Reset
            </button>
					</div>
				</div>
			</form>
      <div class="text-center" ng-switch-when="true">
        <h3 class="margin-vertical-xl">Data klinik masih kosong.</h3>
        <br>
        <a class="button button-large button-default button-labeled" ng-href="#/clinic/create">
          <span class="button-label"><i class="icon icon-compose"></i></span>
          Buat Klinik
        </a>
      </div>
		</div>
	</div>
</article>
