<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Shift Perawat
    </h2>
  </div>
</header>
<article>
  <div class="margin-vertical-medium clearfix">
    <div class="grid-33 padding-horizontal-medium padding-vertical-xl bg-light-gray">
      <div class="panel panel-info bg-light-gray-h">
        <div class="panel-body padding-none clearfix">
          <div class="bg-light-gray padding-medium">
            <strong>Nama:</strong>
            <p class="margin-bottom-medium">{{ nurse.user.name }}</p>
            <strong>Email:</strong>
            <p class="margin-bottom-medium">{{ nurse.user.email }}</p>
            <strong>Klinik:</strong>
            <p>{{ nurse.clinic.name }}</p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-body">
          <form class="form-horizontal padding-medium" name="form" ng-submit="save()" novalidate>
            <div class="form-group">
              <label class="grid-15 control-label" for="days">Shift</label>
              <div class="grid-85">
                <select class="form-control" name="shift" ng-model="shift" ng-required="true">
                  <option value="" selected>--- Pilih Shift ---</option>
    							<option ng-repeat="data in shifts" ng-if="data.doctor.clinic===nurse.clinic.id" value="{{ data.id }}">{{ data.day | toDay }}, {{ data.startHour | toHour }}-{{ data.endHour | toHour }}, {{ data.doctor.name | lowercase }}, {{ data.doctor.title }}</option>
    						</select>
                <div class="margin-top-small text-error" ng-if="form.shift.$invalid && form.shift.$dirty">
                  <small ng-show="form.shift.$error.required"><i class="icon icon-ios-close-outline"></i> Shift harus dipilih</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="prefix-15 grid-85">
                <button class="button button-default button-labeled" ng-disabled="form.$pristine || form.$invalid">
                  <span class="button-label bg-primary"><i class="icon icon-plus text-clear"></i></span>
                  Simpan
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="margin-vertical-small hide-on-desktop"></div>
    <div class="grid-65 tablet-grid-100 mobile-grid-100 padding-horizontal-medium padding-vertical-xl bg-light-gray pull-right">
      <div ng-show="param.data.length">
        <div class="table-responsive text-center">
          <table class="table table-bordered table-striped" ui-table="param">
            <tr ng-repeat="data in $data">
              <td data-title="'#'">{{ $index+1 }}</td>
              <td data-title="'Hari'" sortable="'day'">{{ data.day | toDay }}</td>
              <td data-title="'Waktu'" sortable="'startHour'">{{ data.startHour | toHour }}-{{ data.endHour | toHour }}</td>
              <td data-title="'Dokter'" sortable="'doctor.name'">{{ data.doctor.name | lowercase }}, {{ data.doctor.title }}</td>
              <td data-title="'Dibuat'" sortable="'createdAt'">{{ data.createdAt | toDate }}</td>
              <td data-title="'Aksi'">
                <button class="button button-default button-xs button-labeled" ng-click="delete(data)">
                  <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
                  hapus
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-show="!param.data.length">
        <div class="text-center text-soft">Shift perawat tidak ditemukan.</div>
      </div>
    </div>
  </div>
</article>
