<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Klinik
      <span class="pull-right">
        <a class="button button-default button-labeled" ng-href="#/clinic/create">
          <span class="button-label bg-primary"><i class="icon icon-plus text-light"></i></span>
          Tambah
        </a>
      </span>
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
      <table class="table table-striped" ui-table="param" show-filter="true">
        <tr ng-repeat="clinic in $data" ng-form="form">
          <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
          <td data-title="'Nama'" filter="{'name':'text'}" sortable="'name'" ng-switch="clinic.isEditing">
            <span ng-switch-default>
              {{ clinic.name }}
            </span>
            <div ng-switch-when="true" ng-class="{'validation-error' : form.name.$touched && form.name.$invalid && form.name.$dirty}">
              <input class="form-control" type="text" name="name" ng-model="clinic.name" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.name.$touched && form.name.$dirty">
                <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
                <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
                <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
              </div>
            </div>
          </td>
          <td data-title="'Lokasi'" filter="{'location':'text'}" sortable="'location'" ng-switch="clinic.isEditing">
            <span ng-switch-default>
              {{ clinic.location }}
            </span>
            <div ng-switch-when="true" ng-class="{'validation-error' : form.location.$touched && form.location.$invalid && form.location.$dirty}">
              <textarea class="form-control" rows="5" name="location" ng-model="clinic.location" ng-minlength="3" ng-maxlength="255" ng-required="true">{{ clinic.location }}</textarea>
              <div class="margin-top-small text-error" ng-if="form.location.$touched && form.location.$dirty">
                <small ng-show="form.location.$error.required"><i class="icon icon-ios-close-outline"></i> Lokasi harus diisi</small>
                <small ng-show="form.location.$error.minlength"><i class="icon icon-ios-close-outline"></i> Lokasi tidak boleh kurang dari 3 karakter</small>
                <small ng-show="form.location.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Lokasi tidak boleh lebih dari 255 karakter</small>
              </div>
            </div>
          </td>
          <td class="text-justify" data-title="'Keterangan'" filter="{ 'description':'text' }" sortable="'description'" ng-switch="clinic.isEditing">
            <span ng-switch-default>
              {{ clinic.description }}
            </span>
            <div ng-switch-when="true">
              <textarea class="form-control" rows="5" name="description" placeholder="Keterangan" ng-model="clinic.description" ng-maxlength="255">{{ clinic.description }}</textarea>
              <div class="margin-top-small text-error" ng-if="form.description.$touched && form.description.$dirty">
                <small ng-show="form.description.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Keterangan tidak boleh lebih dari 255 karakter</small>
              </div>
            </div>
          </td>
          <td data-title="'Aksi'" class="text-center text-nowrap">
            <a class="button button-default button-labeled button-xs" ng-if="!clinic.isEditing" ng-href="#/clinic/{{clinic.id}}">
              <span class="button-label bg-success"><i class="icon icon-eye text-clear"></i></span>
              lihat
            </a>
            <a class="button button-default button-labeled button-xs" ng-if="!clinic.isEditing" ng-click="edit(clinic)">
              <span class="button-label bg-vibrant"><i class="icon icon-compose text-clear"></i></span>
              ubah
            </a>
            <a class="button button-default button-labeled button-xs" ng-if="!clinic.isEditing" ng-click="delete(clinic)">
              <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
              hapus
            </a>
            <a class="button button-primary button-labeled" ng-if="clinic.isEditing" ng-click="save(clinic)" ng-disabled="form.$pristine || form.$invalid">
              <span class="button-label"><i class="icon icon-checkmark"></i></span>
              simpan
            </a>
            <a class="button button-default button-labeled" ng-if="clinic.isEditing" ng-click="cancel(clinic, form)">
              <span class="button-label"><i class="icon icon-close"></i></span>
              batal
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center" ng-show="!param.data.length">
			<h3 class="margin-vertical-xl text-soft">Data klinik tidak ditemukan.</h3>
		</div>
  </div>
</article>
