<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Tambah Data Klinik
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
		<div class="grid-70 mobile-grid-100 push-10 padding-medium">
			<form class="form-horizontal" name="form" method="post" role="form" ng-submit="submit(clinic)" novalidate>
				<div class="form-group" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
					<label class="grid-20 control-label" for="name">Nama</label>
					<div class="grid-80">
						<input class="form-control" type="text" name="name" placeholder="Klinik Gigi" ng-model="clinic.name" ng-minlength="3" ng-maxlength="45" ng-required="true" autocomplete="off" tooltip="Nama Klinik" tooltip-placement="top" tooltip-trigger="mouseenter" autofocus>
            <div class="margin-top-small text-error" ng-if="form.name.$touched && form.name.$dirty">
              <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
              <small ng-show="form.name.$error.minlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh kurang dari 3 karakter</small>
              <small ng-show="form.name.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Nama tidak boleh lebih dari 45 karakter</small>
            </div>
					</div>
				</div>
				<div class="form-group" ng-class="{'validation-error' : form.location.$touched && form.location.$dirty && form.location.$invalid}">
					<label class="grid-20 control-label" for="location">Lokasi</label>
					<div class="grid-80">
						<textarea class="form-control" rows="5" name="location" placeholder="Lantai 1 ruang 101" ng-model="clinic.location" ng-minlength="3" ng-maxlength="255" tooltip="Lokasi Klinik" tooltip-placement="top" tooltip-trigger="mouseenter" required></textarea>
            <div class="margin-top-small text-error" ng-if="form.location.$touched && form.location.$dirty">
              <small ng-show="form.location.$error.required"><i class="icon icon-ios-close-outline"></i> Lokasi harus diisi</small>
              <small ng-show="form.location.$error.minlength"><i class="icon icon-ios-close-outline"></i> Lokasi tidak boleh kurang dari 3 karakter</small>
              <small ng-show="form.location.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Lokasi tidak boleh lebih dari 255 karakter</small>
            </div>
					</div>
				</div>
				<div class="form-group" ng-class="{'validation-error' : form.description.$touched && form.description.$invalid && form.description.$dirty}">
					<label class="grid-20 control-label" for="description">Keterangan</label>
					<div class="grid-80">
						<textarea class="form-control" rows="5" name="description" tooltip="Keterangan Klinik" tooltip-placement="top" tooltip-trigger="mouseenter" placeholder="Melayani cabut gigi, tambal gigi, scalling gigi, pembuatan gigi palsu, dll." ng-model="clinic.description" ng-maxlength="255">{{ clinic.description }}</textarea>
            <div class="margin-top-small text-error" ng-if="form.description.$touched && form.description.$dirty">
              <small ng-show="form.description.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Keterangan tidak boleh lebih dari 255 karakter</small>
            </div>
					</div>
				</div>
				<div class="form-group">
					<div class="prefix-20 grid-80">
						<button class="button button-primary button-labeled" type="submit" ng-disabled="form.$pristine || form.$invalid">
              <span class="button-label"><i class="icon icon-checkmark"></i></span>
              Simpan
            </button>
						<button class="button button-default button-labeled" type="reset" ng-click="reset()" ng-disabled="form.$pristine">
              <span class="button-label"><i class="icon icon-refresh"></i></span>
              Reset
            </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</article>
