<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Lihat Data Klinik
    </h2>
  </div>
</header>
<article>
  <div ng-show="clinic">
    <div class="margin-vertical-medium clearfix">
      <div class="grid-33 padding-horizontal-medium padding-vertical-xl bg-light-gray">
        <h3 class="margin-vertical-xs">{{ clinic.name }}</h3>
        <hr class="margin-vertical-xs ruler-light">
        <div class="help-block margin-top-small">
          {{ clinic.location }}
        </div>
        <div class="margin-top-medium text-justify">
          {{ clinic.description }}
        </div>
      </div>
      <div class="margin-vertical-small hide-on-desktop"></div>
      <div class="grid-65 tablet-grid-100 mobile-grid-100 padding-horizontal-medium padding-vertical-xl bg-light-gray pull-right">
        <h3 class="margin-vertical-xs">Jadwal Klinik</h3>
        <hr class="margin-vertical-xs ruler-light">
        <div class="table-responsive bg-clear border-clear margin-top-xl" ng-show="param.data.length">
          <table class="table table-striped" ui-table="param">
            <tr ng-repeat="shift in $data">
              <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
              <td data-title="'Hari'" sortable="'day'" class="text-center">{{ shift.day | toDay }}</td>
              <td data-title="'Waktu'" sortable="'startHour'" class="text-center">{{ shift.startHour | toHour }} - {{ shift.endHour | toHour }}</td>
              <td data-title="'Dokter'" sortable="'doctor.name'" class="text-center">{{ shift.doctor.name | lowercase}}, {{ shift.doctor.title }}</td>
            </tr>
          </table>
        </div>
        <div class="margin-vertical-xl text-soft text-center" ng-show="!param.data.length">Jadwal klinik tidak ditemukan.</div>
      </div>
    </div>
    <div class="bg-light-gray padding-horizontal-medium padding-vertical-xl clearfix">
      <h3 class="margin-vertical-xs">Dokter Klinik</h3>
      <hr class="margin-vertical-xs padding-bottom-medium ruler-light">
      <div class="grid-25 margin-vertical-xl clearfix" ng-repeat="doctor in clinic.doctors" ng-show="clinic.doctors.length">
        <div class="panel panel-info bg-light-gray-h equal-height-doctor">
          <div class="panel-body padding-none">
            <div class="thumbnail bg-clear">
              <a ng-href="#/doctor/{{ doctor.id }}">
                <img class="img-responsive portrait" ng-src="{{ IMAGE.PATH }}{{ doctor.picture | noImage }}" width="100%">
              </a>
            </div>
            <hr class="margin-vertical-xs ruler-light">
            <div class="padding-medium">
              <strong>Nama:</strong>
              <p class="margin-bottom-large">{{ doctor.name | lowercase }}, {{ doctor.title }}</p>
              <strong>Keterangan:</strong>
              <p class="text-justify">{{ doctor.desc }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-vertical-xl text-soft text-center" ng-show="!clinic.doctors.length">Dokter klinik tidak ditemukan.</div>
    </div>
    <div class="bg-light-gray padding-horizontal-medium padding-vertical-xl margin-vertical-medium clearfix">
      <h3 class="margin-vertical-xs">Perawat Klinik</h3>
      <hr class="margin-vertical-xs padding-bottom-medium ruler-light">
      <div class="grid-25 margin-vertical-xl clearfix" ng-repeat="nurse in clinic.nurses" ng-show="clinic.nurses.length">
        <div class="panel panel-info bg-light-gray-h equal-height-nurse">
          <div class="panel-body padding-none">
            <div class="padding-medium">
              <strong>Nama:</strong>
              <p class="margin-bottom-medium">{{ nurse.user.name }}</p>
              <strong>Email:</strong>
              <p>{{ nurse.user.email }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-vertical-xl text-soft text-center" ng-show="!clinic.nurses.length">Perawat klinik tidak ditemukan.</div>
    </div>
  </div>
  <div class="text-center" ng-show="!clinic">
    <div class="grid-fluid bg-light-gray margin-vertical-medium padding-vertical-xl">
      <h3 class="margin-vertical-xl text-soft">Data klinik tidak ditemukan.</h3>
    </div>
  </div>
</article>
