<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Kirim Email Bantuan
    </h2>
  </div>
</header>
<ul class="list-unstyled">
        <li><p class="help-block">Email Pengirim : {{ help.email }}</p></li>
        <li><p class="help-block">Pesan/ Saran : {{ help.content }}</p></li>
</ul>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="grid-100">
      <div class="panel panel-info">
        <div class="panel-body padding-bottom-xs">
          <form method="post" name="eform" ng-submit="send(help)" novalidate>
            <div class="form-group" ng-class="{'validation-error' : eform.to.$touched && eform.to.$dirty && eform.to.$invalid}">
              <label for="to">Email Tujuan</label>
              <input class="form-control" type="text" name="to" placeholder="Email Penerima" ng-model="help.email" ng-required="true" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="eform.to.$touched && eform.to.$dirty">
                <small ng-show="eform.to.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
                <small ng-show="eform.to.$error.email"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
              </div>
            </div>
            <div class="form-group">
              <label for="subject">Subyek Email</label>
              <input class="form-control" name="subject" placeholder="Subyek Email" ng-model="help.subject" autocomplete="off">
            </div>
            <div class="form-group" ng-class="{'validation-error' : eform.content.$touched && eform.content.$dirty && eform.content.$invalid}">
              <label for="content">Isi Email</label>
              <textarea class="form-control" name="content" rows="6" placeholder="Isi Email" ng-model="help.send" ng-required="true"></textarea>
              <div class="margin-top-small text-error" ng-if="eform.content.$touched && eform.content.$dirty">
                <small ng-show="eform.content.$error.required"><i class="icon icon-ios-close-outline"></i> Isi email harus diisi</small>
              </div>
            </div>
            <div class="form-group text-right">
              <button class="button button-success button-labeled" type="submit" ng-disabled="eform.$pristine || !eform.$valid">
                <span class="button-label"><i class="icon-android-send"></i></span>
                Kirim
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</article>
