<header>
  <div class="grid-fluid padding-vertical-xl">
    <h2 class="margin-vertical-xs">
      Data Bantuan/Saran
    </h2>
  </div>
</header>
<article>
  <div class="grid-fluid margin-vertical-medium padding-vertical-xl bg-light-gray">
    <div class="table-responsive bg-clear border-clear" ng-show="param.data.length">
    <table class="table table-striped" ui-table="param" show-filter="true">
      <tr ng-repeat="help in $data" ng-form="form">
        <td data-title="'#'" class="text-center">{{ $index+1 }}</td>
          <td data-title="'Email'" sortable="help.email">{{ help.email }}</td>
          <td data-title="'Judul'" sortable="'help.title'" ng-switch="help.isEditing">
          <span ng-switch-default>
            {{ help.title }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.title.$touched && form.title.$invalid && form.title.$dirty}">
              <input class="form-control" type="text" name="title" ng-model="help.title" ng-minlength="3" ng-maxlength="20" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.title.$touched && form.title.$dirty">
                <small ng-show="form.title.$error.required"><i class="icon icon-ios-close-outline"></i> Judul harus diisi</small>
                <small ng-show="form.title.$error.minlength"><i class="icon icon-ios-close-outline"></i> Judul tidak boleh kurang dari 3 karakter</small>
                <small ng-show="form.title.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Judul tidak boleh lebih dari 20 karakter</small>
              </div>
            </div>
          </td>
          <td data-title="'Konten'" sortable="'help.content'" ng-switch="help.isEditing">
           <span ng-switch-default>
            {{ help.content }}
          </span>
          <div ng-switch-when="true" ng-class="{'validation-error' : form.content.$touched && form.content.$invalid && form.content.$dirty}">
              <input class="form-control" type="text" name="content" ng-model="help.content" ng-minlength="3" ng-maxlength="160" autocomplete="off">
              <div class="margin-top-small text-error" ng-if="form.content.$touched && form.content.$dirty">
                <small ng-show="form.content.$error.required"><i class="icon icon-ios-close-outline"></i> Konten harus diisi</small>
                <small ng-show="form.content.$error.minlength"><i class="icon icon-ios-close-outline"></i> Konten tidak boleh kurang dari 3 karakter</small>
                <small ng-show="form.content.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Konten tidak boleh lebih dari 160 karakter</small>
              </div>
            </div>
          </td>
          <td data-title="'Jawaban'" sortable="'help.answer'" ng-switch="help.isEditing">
            <span ng-switch-default>
            {{ help.answer }}
          </span>
          <div ng-switch-when="true">
              <textarea class="form-control" rows="6" name="answer" placeholder="Jawaban" ng-model="help.answer" ng-maxlength="600">{{ help.answer }}</textarea>
              <div class="margin-top-small text-error" ng-if="form.answer.$touched && form.answer.$dirty">
                <small ng-show="form.answer.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Keterangan tidak boleh lebih dari 600 karakter</small>
              </div>
            </div>
        </td>
          <td data-title="'Status'" sortable="'help.status'" ng-switch="help.isEditing">
            <span ng-switch-default>
            {{ help.status.toString() == 'tampil' ? 'tampil' : 'tidak tampil' }}
          </span>
          <div ng-switch-when="true">
          <input type="checkbox" ng-model="help.status" ng-true-value="'tampil'" ng-false-value="''" ng-checked="help.status">
          </div>
          </td>
          <td data-title="'Aksi'" class="text-center text-nowrap">
            <a class="button button-default button-labeled button-xs" ng-if="!help.isEditing" ng-href="#/help/answer/{{help.id}}">
              <span class="button-label bg-success"><i class="icon icon-eye text-clear"></i></span>
              jawab
            </a>
            <a class="button button-default button-labeled button-xs" ng-if="!help.isEditing" ng-click="edit(help)">
              <span class="button-label bg-vibrant"><i class="icon icon-compose text-clear"></i></span>
              ubah
            </a>
            <a class="button button-default button-labeled button-xs" ng-if="!help.isEditing" ng-click="delete(help)">
              <span class="button-label bg-error"><i class="icon icon-trash-b text-clear"></i></span>
              hapus
            </a>
            <a class="button button-primary button-labeled" ng-if="help.isEditing" ng-click="save(help)" ng-disabled="form.$invalid">
              <span class="button-label"><i class="icon icon-checkmark"></i></span>
              simpan
            </a>
            <a class="button button-default button-labeled" ng-if="help.isEditing" ng-click="cancel(help, form)">
              <span class="button-label"><i class="icon icon-close"></i></span>
              batal
            </a>
          </td>
      </tr>
    </table>
  </div>
  <div class="text-center" ng-show="!param.data.length">
    <h3 class="margin-vertical-xl text-soft">Data Bantuan/Saran tidak ditemukan.</h3>
  </div>
</article>
