<div class="grid-40 push-30">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="margin-vertical-large text-center">APRS</h1>
    </div>
    <div class="panel-body bg-clear">
      <form method="post" ng-submit="login(user)" name="loginForm" novalidate>
        <input class="form-control input-large margin-vertical-large" type="email" name="email" ng-model="user.email" ng-required="true" placeholder="Email" autocomplete="off" autofocus>
        <input class="form-control input-large margin-vertical-large" type="password" name="password" ng-model="user.password" ng-required="true" placeholder="Password" autocomplete="off">
        <div class="help-block text-right"><a ng-href="#/forget-password" id="forget">Lupa Password</a></div>
        <button type="submit" ng-disabled="loginForm.$invalid" class="button button-large button-block button-primary-c">Login</button>
      </form>
      <form class="sr-only" method="post" ng-submit="send(user)" name="forgetForm" novalidate>
        <input class="form-control input-large margin-vertical-large" type="email" name="email" ng-model="user.email" ng-required="true" placeholder="Email" autocomplete="off" autofocus>
        <div class="help-block text-right"><a ng-href="#/reset-password" id="reset">Reset Password</a> / <a ng-href="#/login" class="login">Login</a></div>
        <button type="submit" ng-disabled="forgetForm.$invalid" class="button button-large button-block button-primary-c">Submit</button>
      </form>
      <form class="sr-only" method="post" ng-submit="reset(user)" name="resetForm" novalidate>
        <input class="form-control input-large margin-vertical-large" type="email" name="email" ng-model="user.email" ng-required="true" placeholder="Email" autocomplete="off" autofocus>
        <input class="form-control input-large margin-vertical-large" type="text" name="code" ng-model="user.code" ng-required="true" placeholder="Kode Reset Password" autocomplete="off">
        <div class="help-block text-right"><a ng-href="#/login" class="login">Login</a></div>
        <button type="submit" ng-disabled="resetForm.$invalid" class="button button-large button-block button-primary-c">Submit</button>
      </form>
      <form class="sr-only" method="post" ng-submit="submit(user)" name="submitForm" novalidate>
        <input class="form-control input-large margin-vertical-large" type="password" name="password" ng-model="user.password" ng-minlength="6" ng-maxlength="45" ng-required="true" placeholder="Password Baru" autocomplete="off">
        <div class="margin-top-small margin-bottom-large text-error" ng-if="!submitForm.password.$valid && submitForm.password.$dirty">
          <small ng-show="submitForm.password.$error.minlength"><i class="icon icon-ios-close-outline"></i> Password tidak boleh kurang dari 6 karakter</small>
          <small ng-show="submitForm.password.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Password tidak boleh lebih dari 45 karakter</small>
          <small ng-show="submitForm.password.$error.required"><i class="icon icon-ios-close-outline"></i> Password harus diisi</small>
        </div>
        <input class="form-control input-large margin-vertical-large" type="password" name="passwordd" ng-model="user.passwordd" ng-minlength="6" ng-maxlength="45" ng-required="true" placeholder="Konfirmasi Password Baru" autocomplete="off">
        <div class="margin-top-small margin-bottom-large text-error" ng-if="!submitForm.passwordd.$valid && submitForm.passwordd.$dirty">
          <small ng-show="submitForm.passwordd.$error.minlength"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password tidak boleh kurang dari 6 karakter</small>
          <small ng-show="submitForm.passwordd.$error.maxlength"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password tidak boleh lebih dari 45 karakter</small>
          <small ng-show="submitForm.passwordd.$error.required"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password harus diisi</small>
        </div>
        <div class="margin-top-small margin-bottom-large text-error" ng-if="user.password !== user.passwordd">
          <small ng-show="submitForm.password.$valid && submitForm.passwordd.$valid"><i class="icon icon-ios-close-outline"></i> Konfirmasi password tidak sesuai dengan password</small>
        </div>
        <div class="help-block text-right"><a ng-href="#/login" class="login">Login</a></div>
        <button type="submit" ng-disabled="submitForm.$invalid" class="button button-large button-block button-primary-c">Submit</button>
      </form>
    </div>
  </div>
</div>
