<div class="grid-container">
  <h3 class="margin-vertical-xs">Profil</h3>
  <hr class="margin-bottom-xs ruler-light">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="grid-50 mobile-grid-100 push-25">
  			<div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr ng-form="form">
                <td>
                  <strong>Nama</strong>
                </td>
                <td>
                  <div ng-if="!form.edit">
                    {{ nurse.name }}
                  </div>
                  <div ng-if="form.edit">
                    <div class="form-group" ng-class="{'validation-error' : form.name.$touched && form.name.$dirty && form.name.$invalid}">
                      <input class="form-control input-small" type="text" name="name" ng-model="nurse.name" ng-required="true">
                      <div class="margin-top-small text-error" ng-if="!form.name.$valid && form.name.$dirty">
                        <small ng-show="form.name.$error.required"><i class="icon icon-ios-close-outline"></i> Nama harus diisi</small>
                      </div>
                    </div>
                    <button class="button button-primary button-xs padding-bottom-small" ng-click="save(nurse)" ng-disabled="form.$pristine || !form.$valid">simpan</button>
                    <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(nurse, form)">batal</button>
                  </div>
                </td>
                <td class="text-right">
                  <button class="button button-link padding-none" ng-if="!form.edit" ng-click="edit(nurse, form)">ubah</button>
                </td>
              </tr>
              <tr ng-form="aform">
                <td>
                  <strong>Email</strong>
                </td>
                <td>
                  <div ng-if="!aform.edit">
                    {{ nurse.email }}
                  </div>
                  <div ng-if="aform.edit">
                    <div class="form-group" ng-class="{'validation-error' : aform.email.$touched && aform.email.$dirty && aform.email.$invalid}">
                      <input class="form-control input-small" type="email" name="email" ng-model="nurse.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
                      <div class="margin-top-small text-error" ng-if="!aform.email.$valid && aform.email.$dirty">
                        <small ng-show="aform.email.$error.email || aform.email.$error.pattern"><i class="icon icon-ios-close-outline"></i> Email tidak valid</small>
                        <small ng-show="aform.email.$error.required"><i class="icon icon-ios-close-outline"></i> Email harus diisi</small>
                      </div>
                    </div>
                    <button class="button button-primary button-xs padding-bottom-small" ng-click="save(nurse)" ng-disabled="aform.$pristine || !aform.$valid">simpan</button>
                    <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(nurse, aform)">batal</button>
                  </div>
                </td>
                <td class="text-right">
                  <button class="button button-link padding-none" ng-if="!aform.edit" ng-click="edit(nurse, aform)">ubah</button>
                </td>
              </tr>
              <tr ng-form="bform">
                <td>
                  <strong>Password</strong>
                </td>
                <td>
                  <div ng-if="!bform.edit" class="text-soft">
                    diubah pada <small>{{ nurse.auth[0].updatedAt | date : 'HH:mm:ss dd/MM/yyyy' }}</small>
                  </div>
                  <div ng-if="bform.edit">
                    <div class="form-group" ng-class="{'validation-error' : bform.password.$touched && bform.password.$dirty && bform.password.$invalid}">
                      <input class="form-control input-small" type="password" name="password" placeholder="Password Sekarang" ng-model="nurse.current" ng-required="true">
                      <div class="margin-top-small text-error" ng-if="bform.password.$touched && bform.password.$dirty">
                        <small ng-show="bform.password.$error.required"><i class="icon icon-ios-close-outline"></i> Password Sekarang harus diisi</small>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'validation-error' : bform.passwordd.$touched && bform.passwordd.$dirty && bform.passwordd.$invalid}">
                      <input class="form-control input-small" type="password" name="passwordd" placeholder="Password Baru" ng-model="nurse.password" ng-minlength="6" ng-required="true">
                      <div class="margin-top-small text-error" ng-if="bform.passwordd.$touched && bform.passwordd.$dirty">
                        <small ng-show="bform.passwordd.$error.minlength"><i class="icon icon-ios-close-outline"></i> Password tidak boleh kurang dari 6 karakter</small>
                        <small ng-show="bform.passwordd.$error.required"><i class="icon icon-ios-close-outline"></i> Password Baru harus diisi</small>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'validation-error' : bform.passworddd.$touched && bform.passworddd.$dirty && bform.passworddd.$invalid}">
                      <input class="form-control input-small" type="password" name="passworddd" placeholder="Konfirmasi Password Baru" ng-model="nurse.confirm" ng-required="true">
                      <div class="margin-top-small text-error" ng-if="bform.passworddd.$touched && bform.passworddd.$dirty">
                        <small ng-show="bform.passworddd.$error.required"><i class="icon icon-ios-close-outline"></i> Konfirmasi Password Baru harus diisi</small>
                      </div>
                    </div>
                    <button class="button button-primary button-xs padding-bottom-small" ng-click="asave(nurse)" ng-disabled="bform.$pristine || !bform.$valid">simpan</button>
                    <button class="button button-default button-xs padding-bottom-small" ng-click="cancel(nurse, bform)">batal</button>
                  </div>
                </td>
                <td class="text-right">
                  <button class="button button-link padding-none" ng-if="!bform.edit" ng-click="edit(nurse, bform)">ubah</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  		</div>
    </div>
  </div>
</div>
